<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!--@subject Your credit balance changed @-->


{{template config_path="design/email/header_template"}}
<p>{{trans "Hi %customer_name," customer_name=$customer.getName()}}
</p>
<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Your credit balance has been changed. Here is the detail transaction:</p>

<p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
	<strong>Time</strong>: {{var transaction.created_at_formated}}<br />
    <strong>Amount</strong>: {{var transaction.amount_formated}}<br/>
    <strong>Balance</strong>: {{var transaction.balance_formated}}<br/>
    <strong>Detail</strong>: {{var transaction.description|raw}}<br/>
</p>

{{template config_path="design/email/footer_template"}}