.root {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.emptyTitle {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 92px;
    font-weight: 500;
    margin-top: 54px;
}

.continue {
    composes: root from '../../../../../components/Button/button.css';
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: #101820;
    border-radius: 0;
    height: 65px;
    min-width: 478px;
    width: auto;
}

.continue:hover {
    cursor: pointer;
}
