<div class="vpb-component-container vpb-component-list" data-bind="
	visible: isActive,
	css:{[frontend_class]:true,'vpb-component-editable':editable},
	attr: {id: getPreviewFieldId()}
">
	<div class="testimonials-container">
		<div class="owl-carousel owl-theme testimonials-slider">
			
		</div>
	</div>
	<div style="display: none" data-bind="attr: {id: getPreviewFieldId()+'-items'}">
		<!-- ko foreach: getItems() -->		
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!-- /ko -->
	</div>
	<div data-bind="afterRender:initSlider"></div>
</div>