<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vnecoms" sortOrder="400">
            <label>VnEcoms</label>
        </tab>
        <section id="pdfpro" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PDF Invoice Pro</label>
            <tab>vnecoms</tab>
            <resource>Vnecoms_PdfPro::pdfpro</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
				<frontend_model>\Vnecoms\PdfPro\Block\Adminhtml\System\Config\Form\Fieldset</frontend_model>
                <field id="enabled" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
<!--                <field id="processor" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PDF Processor</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Processor</source_model>
                </field>-->
                <field id="default_key" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default PDF Template</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Key</source_model>
                    <comment><![CDATA[This PDF Template will be used for default. <br />There is no PDF Template here? Go to <strong>Easy PDF</strong> -> <strong>Manage PDF Templates</strong> to add a new one.]]></comment>
                    <frontend_class>required-entry</frontend_class>
                </field>
                <field id="pdf_title" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PDF Title</label>
                </field>
                <field id="pdf_author" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PDF Author</label>
                </field>
                <field id="remove_default_print" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove the default print functions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Remove default print buttons</comment>
                </field>
                <!--<field id="admin_print_order" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Print orders from backend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>-->
                <field id="allow_customer_print" type="select" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer can print PDFs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If yes, customer will be able to use Easy PDF]]></comment>
                </field>
                <field id="order_email_attach" type="select" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attach the Order PDF file to New Order Email</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Attach</source_model>
					<comment>This option will make your checkout a bit of slower for generating the PDF file</comment>
                </field>
                <field id="invoice_email_attach" type="select" sortOrder="53" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attach the Invoice PDF file to Invoice Email</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Attach</source_model>
					<comment>This option will make your checkout a bit of slower for generating the PDF file</comment>
                </field>
                <field id="shipment_email_attach" type="select" sortOrder="54" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attach the Shipment PDF to Shipment Email</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Attach</source_model>
                </field>
                <field id="creditmemo_email_attach" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attach the Creditmemo PDF to Creditmemo Email</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Attach</source_model>
                </field>
                <field id="detect_language" type="select" sortOrder="56" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Detect language automatically by store</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>This option is used for multiple language website.</comment>
                </field>
                <field id="number_format" type="text" sortOrder="57" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number Format</label>
					<comment>This option is used to change number of decimal places.</comment>
                </field>
                <field id="currency_position" type="select" sortOrder="58" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Currency Position</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Currency</source_model>
                </field>
                <!--<field id="communication_method" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Communication Method</label>-->
					<!--<source_model>VnEcoms\PdfPro\Model\Source\Communication\Method</source_model>-->
					<!--<comment>This option is used when you choose the PDF Processor "www.easypdfinvoice.com remote server"</comment>-->
                <!--</field>-->
            </group>

            <group id="filename_format" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PDF file name format</label>
                <field id="order" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print an individual order. Use $ID for order ID]]></comment>
                </field>
                <field id="orders" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print multiple orders.]]></comment>
                </field>
                <field id="invoice" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print an individual invoice. Use $ID for invoice ID]]></comment>
                </field>
                <field id="invoices" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print multiple invoices.]]></comment>
                </field>
                <field id="shipment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print an individual shipment. Use $ID for shipment ID]]></comment>
                </field>
                <field id="shipments" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print multiple shipments.]]></comment>
                </field>
                <field id="creditmemo" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit Memo PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print an individual credit memo. Use $ID for creditmemo ID]]></comment>
                </field>
                <field id="creditmemos" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit Memo PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you print multiple credit memos.]]></comment>
                </field>
                <field id="all" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Document PDF File Name Format</label>
                    <tooltip><![CDATA[
                            	<table width="100%" style="background: #FAFAFA;">
									<thead>
										<tr>
											<th width="35">Var</th>
											<th>Description</th>
											<th>values</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>$d</strong></td>
											<td>Day of the month</td>
											<td><em>01</em> to <em>31</em></td>
										</tr>


										<tr>
											<td><strong>$M</strong></td>
											<td>Numeric representation of a month</td>
											<td><em>01</em> to <em>12</em></td>
										</tr>


										<tr>
											<td><strong>$y</strong></td>
											<td>Numeric representation of a year</td>
											<td>Ex: <em>1999</em></td>
										</tr>


										<tr>
											<td><strong>$H</strong></td>
											<td>24-hour format of an hour</td>
											<td><em>00</em> to <em>23</em></td>
										</tr>

										<tr>
											<td><strong>$m</strong></td>
											<td>Minutes with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>

										<tr>
											<td><strong>$s</strong></td>
											<td>Seconds, with leading zeros</td>
											<td><em>00</em> to <em>59</em></td>
										</tr>
									</tbody>
								</table>
                            ]]></tooltip>
                    <comment><![CDATA[When you you select "Print All".]]></comment>
                </field>
            </group>

            <group id="advanced" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced Options</label>
                <field id="autolang" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Language Processor for PDF</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Lang</source_model>
                    <comment><![CDATA[
                        If you use language based on Latin, please choose <strong>Use Core Font</strong>.<br/>
                        Others choose another option for auto detect language.
                    ]]></comment>
                </field>
                <!--<field id="country" type="select" sortOrder="1" showInDefault="1" showInStore="1" showInWebsite="1">-->
                    <!--<label>Country Select</label>-->
                    <!--<source_model>Magento\Directory\Model\Config\Source\Country</source_model>-->
                <!--</field>-->
                <field id="orientation" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Orientation</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Orientation</source_model>
                </field>
                <field id="page_size" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Size</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Size</source_model>
                </field>
                <field id="password_protection" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Protection Password</label>
                    <comment>This password is used to get full permission for the pdf file. If this field is left as blank, a random number will be set automatically.</comment>
                </field>
            </group>

            <group id="barcode" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Barcode Configuration</label>
                <field id="symbology" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Symbology</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Symbology</source_model>
                </field>
                <field id="thickness" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Thickness</label>
                </field>
                <!--<field id="rotation" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Rotation</label>-->
                    <!--<source_model>Vnecoms\PdfPro\Model\Source\Rotation</source_model>-->
                <!--</field>-->
                <!--<field id="font_family" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Font Family</label>-->
                    <!--<source_model>Vnecoms\PdfPro\Model\Source\Font</source_model>-->
                <!--</field>-->
                <field id="font_size" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Size</label>
                </field>
            </group>

            <group id="qrcode" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>QRCode Configuration</label>
                <field id="level" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EEC</label>
                    <source_model>Vnecoms\PdfPro\Model\Source\Eec</source_model>
                </field>
                <field id="size" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Size</label>
                </field>
                <field id="font_size" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Size</label>
                </field>
                <field id="padding" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Padding</label>
                </field>
            </group>

            <group id="author" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Author</label>
                <frontend_model>\Vnecoms\PdfPro\Block\Adminhtml\System\Config\Form\Fieldset\Author</frontend_model>

                <comment><![CDATA[
                    The Easy PDF is developed and supported by <a href="http://www.easypdfinvoice.com/" target="_blank">www.EasyPdfInvoice.com</a>.<br />
					If you need any support or have any question please contact us at <a href="mailto:support@easypdfinvoice.com">support@easypdfinvoice.com</a> or submit a ticket at <a href="http://www.easypdfinvoice.com/contacts/" target="_blank">http://www.easypdfinvoice.com/contacts/</a><br /><br />
					Best Regards,<br />
					<strong>Easy PDF Invoice Team</strong>
					]]></comment>
            </group>
        </section>
    </system>
</config>