.blog-app-page {
    margin-top: 40px;
    font-family: "Gotham Book";

    .special-post .article-item.item-featured-post {
        width: 100%;
        display: flex;
        margin-bottom: 40px;
        justify-content: space-between;
        align-items: flex-start
    }
    .article-item.item-featured-post {
        .article-description {
            max-width: 551px;
            margin-right: 20px;
            margin-top: 0;
            .title {
                font-size: 21px;
                line-height: 45px;
                a {
                    word-break: break-word;
                }
            }
            .description {
                height: auto;
                display: block;
                margin-top: 10px;
                margin-left: 0;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 19px;
            }
            .btn-news-readmore {
                padding-left: 12.65px;
                padding-right: 12.65px;
                min-width: 120px;
            }
        }
    }
    #blog-items-load-more {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 155px;
    }
    .blog-grid {
        display: flex;
        flex-wrap: wrap;
        .article-item {
            margin: 0 -0.5px 32px;
        }
    }
    .blog-left-col {
        .latest-title {
            margin-bottom: 22px;
            line-height: 24px;
        }
        .latest-item {
            display: block;
            color: #101820;
            font-size: 16px;
            line-height: 24px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .latest-item:hover {
            text-decoration: none;
            color: #101820;
        }
        .latest-item:not(:first-child) {
            margin-top: 16px;
        }
    }
    .post-main {
        .title {
            margin: 8px 0 32px;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
            word-break: break-word;
        }
        .post-date {
            color: #e93581;
            margin-top: 40px;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
        }
        .post-featured-img {
            margin: 0 auto;
            padding-right: 4px;
        }
    }

    .post-content {
        margin-top: 32px;
        line-height: 24px;
        p {
            margin: 0;
        }
        p:not(:first-child) {
            margin-top: 10px;
        }
        img {
            margin: 14px 0;
        }
    }

    .post-content {
        ul {
            margin-top: 32px;
            margin-bottom: 32px;
            li {
                position: relative;
                padding-left: 40px;
            }
            li::before {
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                content: "";
                top: 0;
            }
            li:not(:first-child) {
                margin-top: 16px;
            }
        }
    }

    .blog-grid {
        .article-item {
            .benecos-article-image {
                padding-top: 51%;
                overflow: hidden;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
            }
            .special-image-container {
                width: 70%;
                .benecos-article-image {
                    
                }
            }
        }
        > .col-sm-4{
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    @media (max-width: 1023px) {
        margin-top: 8px;
        .special-post {
            padding: 15px;
        }
        
        .article-item.item-featured-post {
            flex-direction: column-reverse;
            margin: 0 0 40px;
            .article-description {
                margin-right: 0;
                margin-top: 0;
                .date {
                    margin-top: 16px;
                }
                .description {
                    margin-top: 8px;
                }
            }
            .title {
                font-size: 28px;
                line-height: 36px;
            }
            .benecos-article-image {
                margin-top: 24px;
            }
            .benecos-article-image::after {
                opacity: 1;
            }
        }
        
        .article-description .title {
            margin-top: 8px;
            display: block;
        }
        .post-main {
            .title {
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 24px;
            }
            .post-featured-img{
                max-width: 1135px;
            }
        }
        .post-content {
            margin-top: 24px;
        }
        .blog-grid {
            .article-item{
                margin-left: 0;
                margin-right: 0;
                .special-image-container {
                    width: 100%;
                }
            }
        }
    }
    @media (min-width: 1919px) {
        .blog-single-app-page .post-main {
            margin-left: 275.5px;
            margin-right: 275.5px;
        }
    }
}
/*listing RTL*/
.rtl-root {
    .blog-app-page {    
        .article-item.item-featured-post {
            .article-description {
                margin-left: 20px;
                margin-right: 0;
            }
        }
        .blog-left-col {
            float: right;
        }
    }
}
/*Post page*/

.blog-single-app-page {
    margin: 8px 0 100px;
    .post-main {
        .post-date {
            font-size: 14px;
            font-weight: 600;
            margin-top: 20px;
        }
        .title {
            margin-top: 10px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        .post-featured-img {
            margin-bottom: 20px;
            img {
                max-width: 100%;
            }
        }
    }
    .back-to-blog {
        padding-left: 15.5px;
        padding-right: 15.5px;
        min-width: 120px;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        max-width: 200px;
    }

    @media (max-width: 1023px) {
        margin: 8px 0 40px;
        .post-main {
            margin-left: 1px;
            margin-right: 1px;
        }
    }

}
