.recent-product-ctn {
    margin-top: 2px;
    padding: 1.5rem;
    width: 100%;
    margin-bottom: 25px;
    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .recent-products {
        width: 100%;
    }
    .recent-product-item {
        min-width: 140px;
        display: inline-grid;
        padding: 5px;
        width: 25%;
    }
    @media (max-width: 1023px) {
        padding-bottom: 0px;
        .recent-product-item {
            width: 50%;
        }
    }
}


