.phone-login{
    padding: 0 98px;
    display: block;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: #101820;
    font-weight: bold;
}