@media (min-width: 1920px) {
    .container {
        width: 1430px;
    }
}

div#app-loading {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    z-index: 100000;
    opacity: 0.7;
    -ms-flex-align: center;
    align-items: center;
}

.siminia-breadcrumb {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}
.breadcrumb-item {
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
.breadcrumb-item:hover {
    color: #d7272e;
}
.breadcrumb-item:last-of-type {
    color: #d7272e;
    cursor: unset;
}