<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Simi. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Simi_Simiconnector::paypalexpresssettings" title="Paypal Express" module="Simi_Simipaypalexpress" sortOrder="199" parent="Simi_Simiconnector::payment" resource="Simi_Simipaypalexpress::configuration" action="adminhtml/system_config/edit/section/simipaypalexpress"/>
    </menu>
</config>
