<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="simipaypalexpress" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Paypal Express Settings</label>
            <tab>simi</tab>
            <resource>Simi_Simi::config_simi</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable_app" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable in App</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>You can configure all features in System/Configuration/Payment Methods/ PayPal Express Checkout</comment>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Address Confirmation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Require buyers to confirm their address</comment>
                </field>
                <field id="product_detail" translate="label" type="select" sortOrder="299" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shortcut on Product Screen</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cart" translate="label" type="select" sortOrder="399" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shortcut on Shopping Cart Screen</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!--
            <group id="pwa_studio" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PWA Studio Configuration</label>
                <field id="success_callback" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Callback URL</label>
                    <comment>eg. http://yourpwastudio.com/paypal_express.html?placeOrder=true</comment>
                </field>
                <field id="failure_callback" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Failure Callback URL</label>
                    <comment>eg. http://yourpwastudio.com/paypal_express.html?paymentFaled=true</comment>
                </field>
            </group>
            -->
        </section>
    </system>
</config>
