<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    	<section id="vendors">
    		<group id="shipping">
            	<group id="vendors_flatrate" translate="label" showInDefault="1" showInWebsite="1" sortOrder="10">
		            <label>Vendor Flat Rate</label>
		            <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
		            
		            <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
		                <label>Enable</label>
		                <config_path>carriers/vflatrate/active</config_path>
		                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
		            </field>

	                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
	                	<config_path>carriers/vflatrate/name</config_path>
	                    <label>Method Name</label>
	                </field>
	                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
	                	<config_path>carriers/vflatrate/sort_order</config_path>
	                    <label>Sort Order</label>
	                </field>
	                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
	                    <label>Ship to Applicable Countries</label>
	                    <config_path>carriers/vflatrate/sallowspecific</config_path>
	                    <frontend_class>shipping-applicable-country</frontend_class>
	                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
	                </field>
	                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Ship to Specific Countries</label>
	                    <config_path>carriers/vflatrate/specificcountry</config_path>
	                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
	                    <can_be_empty>1</can_be_empty>
	                </field>
	                <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Show Method if Not Applicable</label>
	                    <config_path>carriers/vflatrate/showmethod</config_path>
	                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
	                </field>
	                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
	                	<config_path>carriers/vflatrate/specificerrmsg</config_path>
	                    <label>Displayed Error Message</label>
	                </field>
	            </group>
           	</group>
    	</section>
        
    </system>
</config>
