@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/Gotham-ThinItalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/Gotham-XLight.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/Gotham-XLightItalic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/GothamBook.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/GothamBookItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Book';
	src: url('/fonts/Gotham/GothamBook.ttf') format('truetype');
}
@font-face {
	font-family: 'Gotham Medium';
	src: url('/fonts/Gotham/GothamMedium.ttf') format('truetype');
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/GothamMedium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/GothamMediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/Gotham-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('/fonts/Gotham/Gotham-UltraItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}