<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="preorder" translate="label" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Pre-order Settings</label>
                <field id="deposit_amount" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1">
                    <label>Pre-order amount (%)</label>
                    <comment>Percent (%) amount to pre-pay of the product price.</comment>
                </field>
                <field id="deposit_product_id" translate="label" type="text" sortOrder="199" showInDefault="1" showInWebsite="1">
                    <label>Pre-order Deposit product Id</label>
                    <comment>Id of deposit product.</comment>
                </field>
                <field id="emailTemplate" translate="label" type="text" sortOrder="299" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Email template</label>
                    <comment>Email template send to customer to pay #2 order.</comment>
                </field>
            </group>
            <group id="reserve" translate="label" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Reserve Settings</label>
                <field id="working_days" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Working days</label>
                    <comment>mon,tue,wed,thu,fri,sat,sun</comment>
                </field>
                <field id="holiday" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Holiday</label>
                    <comment>date/month, use commas to separate between dates - example: 1/12,2/12.</comment>
                </field>
                <field id="emailTemplate" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Email template ID</label>
                    <comment>Default value: send_email_reserve_template</comment>
                </field>
            </group>
            <group id="policy" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Delivery and Returns</label>
                <field id="delivery_returns" translate="label" type="textarea" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Content</label>
                </field>
            </group>
        </section>
    </system>
</config>
