$colorTitle: #101820;

div[class*="_modal_"] {
  max-width: unset;
  height: 661px;
  width: 964px;
  overflow: auto;
  margin-top: 213.5px;
  padding: 26px;
}
div[class*="_overlay_"] {
  // opacity: 0.5;
  // background-color: #E4E4E4;
}
/* Image carousel */
.modal-quick-view .product-detail-root {
  width: auto;
  padding: 0;
}

.modal-quick-view .product-detail-root .image-carousel {
  max-width: 376px;
  max-height: 583px;
  margin: unset;
  margin-top: 6px;
}
.modal-quick-view .carousel.carousel-slider {
  height: 470px !important;
}
.modal-quick-view .slider-wrapper ul li img {
  max-height: 470px !important;
  max-width: 376px;
}
.modal-quick-view .slider-wrapper ul li > div {
  max-width: 376px;
}
.modal-quick-view .carousel.carousel-slider .control-arrow {
  display: none;
}

/* Thumb carousel */
.modal-quick-view .carousel .thumb {
  border: unset;
  padding: unset;
}
.modal-quick-view .carousel .thumbs-wrapper {
  margin: 10px 0;
}
.modal-quick-view .carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid #101820;
  padding: 0;
  box-sizing: border-box;
}
/* Main Action Area*/
.modal-quick-view .product-detail-root .main-actions {
  min-width: 377px;
}
.modal-quick-view .product-detail-root .title {
  padding: unset;
  padding-left: 16px;
  margin-bottom: unset;
}
.modal-quick-view .product-detail-root .title h1 {
  color: $colorTitle;
  font-family: "Gotham Book";
  font-size: 24px;
  line-height: 32px;
  text-align: justify;
}

.modal-quick-view .product-detail-root .vendor-name {
  margin-top: 24px;
  padding-left: 15px;
  color: $colorTitle;
  font-family: "Gotham Medium";
  font-size: 16px;
  line-height: 16px;
}
.modal-quick-view .product-detail-root .top-review {
  margin-top: 24px;
  padding: unset;
  padding-left: 16px;
}
.modal-quick-view .product-detail-root .top-review .review-rate {
  margin-top: unset;
}
.modal-quick-view .product-detail-root .top-review .review-rate > div {
  width: 80px !important;
  height: 14px !important;
}
.modal-quick-view .product-detail-root .top-review .review-rate > div > div > svg {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 14px;
  text-align: center;
  fill: unset !important;
}
.modal-quick-view .product-detail-root .top-review .review-rate .review-count {
  color: $colorTitle;
  font-family: "Gotham Book";
  font-size: 14px;
  line-height: 14px;
  margin: unset;
  margin-left: 16px;
}
/* Product price */
.modal-quick-view .product-detail-root .product-price {
  padding: unset;
  margin-left: 14px;
  margin-top: 24px;
}
.modal-quick-view .product-detail-root .product-price .prices-container .prices-layout {
  margin-top: unset;
}
.modal-quick-view
  .product-detail-root
  .product-price
  .prices-container
  .prices-layout
  .price-configurable
  > div
  > div
  > span {
  color: $colorTitle !important;
  font-family: "Gotham Medium";
  font-size: 32px;
  line-height: 32px;
}
.modal-quick-view .product-detail-root .product-price .prices-container .product-stock-status {
  display: none;
}
.modal-quick-view .product-detail-root .product-short-desc {
  padding-left: 16px;
  margin-top: 24px;
  color: $colorTitle;
  font-family: "Gotham Book";
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
.modal-quick-view .product-detail-root .options .try-to-buy {
  padding: 0 16px;
}
.modal-quick-view .product-detail-root .options div.try-to-buy:nth-child(4),
.modal-quick-view .product-detail-root .options div.try-to-buy:nth-child(5) {
  display: none;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare {
  margin-top: 24px;
  display: flex;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .cart-actions {
  margin-top: unset;
  padding: unset;
  margin-left: 16px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .cart-actions .add-to-cart-ctn {
  min-width: unset;
  width: 145px;
  height: 36px;
  border-color: unset !important;
  background-color: $colorTitle;
  border: unset;
  border-width: unset !important;
  border-left: unset !important;
  border-top: unset !important;
  border-bottom: unset !important;
  border-right: unset !important;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .cart-actions .add-to-cart-ctn .add-to-cart-btn {
  background-color: unset !important;
  padding: unset;
  padding-top: unset;
  height: 36px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .cart-actions span.siminia-btn {
  display: inline-block;
  padding: 12px 28px;
  color: #fff;
  font-family: Gotham;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.09px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .reserve-actions {
  margin-top: unset;
  padding: unset;
  margin-left: 16px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .reserve-ctn {
  min-width: unset;
  width: 145px;
  height: 36px;
  border-color: unset !important;
  background-color: $colorTitle;
  border: unset;
  border-width: unset !important;
  border-left: unset !important;
  border-top: unset !important;
  border-bottom: unset !important;
  border-right: unset !important;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .reserve-ctn .add-to-reserve-btn {
  background-color: unset !important;
  padding: unset;
  padding-top: unset;
  height: 36px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .reserve-actions span.siminia-btn {
  display: inline-block;
  padding: 12px 28px;
  color: #fff;
  font-family: Gotham;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.09px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}

.modal-quick-view .product-detail-root .cart-wishlist-compare {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.modal-quick-view .product-detail-root .cart-wishlist-compare .add-to-cart-btn {
  max-width: 70%;
  color: #fff;
  font-family: "Gotham Book";
  font-size: 12px;
  letter-spacing: 0.09px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}

.modal-quick-view .product-detail-root .cart-wishlist-compare .wishlistAction {
  margin: auto;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 12px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .wishlistAction .wishlist {
  height: 16px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .wishlistAction .add-to-wishlist-btn {
  font-family: Linearicons;
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  color: $colorTitle;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .compareAction {
  margin: auto;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 12px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .compareAction .compare {
  height: 16px;
}
.modal-quick-view .product-detail-root .cart-wishlist-compare .compareAction .add-to-compare-btn {
  font-family: Linearicons;
  font-size: 16px;
  speak: none;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  color: $colorTitle;
}
.modal-quick-view .product-detail-root .social-share {
  margin-top: 34px;
  padding: 0 16px;
}
/*Description and Reviews*/
.modal-quick-view .product-detail-root .description-and-review {
  margin-top: 45px;
  margin-left: 70px;
  margin-right: 57px;
  width: 100%;
}
.modal-quick-view .product-detail-root .description-and-review .three-titles {
  display: flex;
  justify-content: space-between;
}
.modal-quick-view .product-detail-root .description-and-review .three-titles .title {
  display: inline-block;
  padding-left: unset;
  font-family: "Gotham Medium";
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}
.modal-quick-view .product-detail-root .description-and-review .three-titles .title.delivery {
  color: #101820;
}
.modal-quick-view .product-detail-root .description-and-review .three-titles .title.information {
  color: #727272;
}
.modal-quick-view .product-detail-root .description-and-review .three-titles .title.reviews {
  width: 116px;
  color: #727272;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents {
  margin-top: 38px;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents .description {
  border-top: unset;
  margin-top: unset;
  padding: unset;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents .description .description-title {
  display: none;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents .description div[class*="-root-"] {
  padding: unset;
  color: #101820;
  font-family: "Gotham Book";
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  font-weight: 500;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents .review-list {
  margin-top: unset;
  padding: unset;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents .review-list .review-list-title {
  display: none;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents .review-list .list-review-item {
  padding: unset;
}
.modal-quick-view .product-detail-root .description-and-review .three-contents .review-list .item-title {
  color: #101820;
  font-family: "Gotham Book";
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  font-weight: 500;
}
.modal-quick-view .product-detail-root .linked-product-ctn {
  margin-top: 38px;
  margin-left: 70px;
  margin-right: 57px;
  box-sizing: border-box;
  border-top: 1px solid #727272;
  padding: unset;
}
.modal-quick-view .product-detail-root .linked-product-ctn .title {
  padding-left: unset;
  text-align: center;
  margin-top: 64.5px;
  color: #101820;
  font-family: Didot;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.modal-quick-view .product-detail-root .linked-product-ctn .siminia-product-grid-item{
  max-width: 180px;
}

@media (min-width: 1440px) {
  .modal-quick-view .product-detail-root .image-carousel {
    margin-left: 72px;
  }
  .modal-quick-view .carousel .thumb {
    margin-right: 16px;
    width: 82px;
    max-height: 103px;
  }
  .modal-quick-view .carousel .thumb img {
    width: 82px;
    height: 103px;
  }
  .modal-quick-view .carousel .thumbs-wrapper ul {
    max-height: 103px;
  }
  .modal-quick-view .carousel .thumbs-wrapper {
    max-height: 103px;
  }
  .modal-quick-view .carousel .thumbs-wrapper ul li:last-child {
    margin-right: unset;
  }
}
