.root {
    background-color: white;
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    transition-duration: 192ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-property: opacity, transform, visibility;
    visibility: hidden;
    width: 90%;
    max-width: 292px;
    z-index: 3;
}


.body {
    min-height: 0;
    overflow: auto;
}

.root_open {
    background-color: white;
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    left: 0;
    position: fixed;
    top: 0;
    transition-property: opacity, transform, visibility;
    visibility: hidden;
    width: 90%;
    z-index: 3;
    box-shadow: 1px 0 rgb(var(--venia-border));
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    visibility: visible;
}

.root.nav_rtl {
    transform: translate3d(100%, 0, 0);
    transition-duration: 0ms;
}
.root_open.nav_rtl {
    right: 0;
    left: unset;
}


/* keyframes */

@keyframes slidein {
    from {
        transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideout {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideinSide {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideoutSide {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

#fixed-header {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
#app-bar {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    position: relative;
}
#app-logo {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
#app-logo:hover {
    cursor: pointer;
}
#app-logo img {
    max-height: 35px;
}
.app-bar-item {
    z-index: 2;
}
.app-bar-item > div {
    display: inline-block;
    padding: 0;
}
.list-menu-header {
    overflow-y: auto;
}
.item-section {
    background-color: rgb(0,0,0,0.8);
    padding: 5px;
    margin-right: 1px;
}
.item-section span {
    margin-left: 10px;
    display: inline-block;
    color: white;
    font-weight: 600;
    font-size: 14px;
}
.list-menu-header .store-item .store-name {
    margin-left: 10px;
}
.list-menu-header .currency-item .currency-name {
    margin-left: 10px;
}
.list-menu-header .store-item .not-selected,
.list-menu-header .currency-item .not-selected {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    display: inline-block;
}
.cate-parent-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 33px;
    margin-top: 26px;
    /*font-family: Gotham;*/
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}
.cate-parent-item div:nth-child(1){
    width:100%;
}

.menu-cate-name-item {
    font-size: 14px;
}
#right-bar .right-icon {
    display: flex;
    align-items: center;
}
.dashboard-menu-bottom-item .menu-item span{
    white-space: nowrap;
    font-size: 11px;
    margin-top: 3px;
}
@media (max-width: 768px) {
    .right-icon-item button {
        width: 40px;
    }
    #app-bar {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .menu-cate-name-item {
        font-size: 14px !important;
        line-height: 20px;
    }

    .checkout-onepage .dashboard-menu-bottom-item{
        display: none !important;
    }
    .product-phone .dashboard-menu-bottom-item{
        display: none !important;
    }
    .product-phone .right-icon-item-cart {
        display: block !important;
    }
}