<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Vnecoms\PageBuilder\Model\Component\SchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Vnecoms_PageBuilder</argument>
        </arguments>
    </type>
    <type name="Vnecoms\PageBuilder\Model\Component\Reader">
        <arguments>
            <argument name="converter" xsi:type="object">Vnecoms\PageBuilder\Model\Component\Converter</argument>
        </arguments>
    </type>
    <type name="Vnecoms\PageBuilder\Model\Component\Converter">
        <arguments>
            <argument name="nodeMap" xsi:type="array">
            	<item name="components" xsi:type="string">/config/components</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Vnecoms\PageBuilder\Model\Section\SchemaLocator">
        <arguments>
            <argument name="moduleName" xsi:type="string">Vnecoms_PageBuilder</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Framework\View\TemplateEngine\Xhtml\PBSectionCompiler" type="Magento\Framework\View\TemplateEngine\Xhtml\Compiler" shared="false">
        <arguments>
            <argument name="compilerText" xsi:type="object">Magento\Framework\View\TemplateEngine\Xhtml\Compiler\Text</argument>
            <argument name="compilerAttribute" xsi:type="object">Magento\Framework\View\TemplateEngine\Xhtml\Compiler\Attribute</argument>
            <argument name="compilerCdata" xsi:type="object">Magento\Framework\View\TemplateEngine\Xhtml\Compiler\Cdata</argument>
            <argument name="compilerComment" xsi:type="object">Magento\Framework\View\TemplateEngine\Xhtml\Compiler\Comment</argument>
            <argument name="elementCompilers" xsi:type="array">
                <item name="include" xsi:type="object">Vnecoms\PageBuilder\Model\Section\Compiler\IncludeElement</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Vnecoms\PageBuilder\Model\Section\Reader">
        <arguments>
            <argument name="converter" xsi:type="object">Vnecoms\PageBuilder\Model\Section\Converter</argument>
            <argument name="compiler" xsi:type="object">Magento\Framework\View\TemplateEngine\Xhtml\PBSectionCompiler</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/sections/section" xsi:type="string">name</item>
                <item name="/config/types/type" xsi:type="string">name</item>
            </argument>
        </arguments>
    </type>
    <type name="Vnecoms\PageBuilder\Model\Section\Converter">
        <arguments>
            <argument name="nodeMap" xsi:type="array">
            	<item name="types" xsi:type="string">/config/types</item>
            	<item name="sections" xsi:type="string">/config/sections</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Cms\Model\Template\FilterProvider">
        <arguments>
            <argument name="pageFilter" xsi:type="string">Vnecoms\PageBuilder\Model\Template\Filter</argument>
            <argument name="blockFilter" xsi:type="string">Vnecoms\PageBuilder\Model\Template\Filter</argument>
        </arguments>
    </type>
</config>
