#contact-modal{
    .contact-wrap{
        /* h3.title{
            padding-top: 10px;
            margin-bottom: -10px;
            margin-top: -2px;
        } */
        .contact-form{
            .form-btn{
                .btn{
                    span{
                        padding-top: 5px;
                        margin-bottom: -5px;
                    }
                }
            }
            .form-row{
                >label{
                    padding-top: 3px;
                    margin-bottom: 5px;
                }
            }
        }
        &.mobile{
            h3.title{
                padding-top: 3px;
                margin-bottom: -8px;
            }
            .header-text{
                max-width: 250.54px;
                font-size: 14px;
                line-height: 14px;
            }
            .contact-form{
                .form-row{
                    >label{
                        padding-top: 3px;
                        margin-bottom: -3px;
                        height: 14px;
                        padding-bottom: 0px;
                    }
                }
            }
        }
    }
}