<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="aw_blog" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Blog\App\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">50</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Blog\Model\Rss\Post\RssItemProvider">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="common" xsi:type="object">Aheadworks\Blog\Model\Rss\Post\Processor\Common</item>
                <item name="link" xsi:type="object">Aheadworks\Blog\Model\Rss\Post\Processor\Link</item>
                <item name="description" xsi:type="object">Aheadworks\Blog\Model\Rss\Post\Processor\Description</item>
            </argument>
        </arguments>
    </type>
    <type name="Aheadworks\Blog\App\Router\MatcherComposite">
        <arguments>
            <argument name="matchers" xsi:type="array">
                <item name="tag" xsi:type="object">Aheadworks\Blog\App\Router\Matcher\Tag</item>
                <item name="post" xsi:type="object">Aheadworks\Blog\App\Router\Matcher\Post</item>
                <item name="category" xsi:type="object">Aheadworks\Blog\App\Router\Matcher\Category</item>
                <item name="author" xsi:type="object">Aheadworks\Blog\App\Router\Matcher\Author</item>
                <item name="authors_list" xsi:type="object">Aheadworks\Blog\App\Router\Matcher\AuthorsList</item>
            </argument>
        </arguments>
    </type>
</config>
