<?xml version="1.0"?>
<!--
/**
* Copyright 2019 SimiCart. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- <preference for="Aramex\Shipping\Model\Aramex" type="Simi\VendorMapping\Override\Aramex" /> -->

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="vendor_giftcard_listing_data_source" xsi:type="string">Simi\VendorMapping\Model\ResourceModel\Giftcard\Grid\Collection</item>
				<item name="vendor_giftcard_pool_listing_data_source" xsi:type="string">Simi\VendorMapping\Model\ResourceModel\Pool\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Vnecoms\VendorsShippingFlatRate\Model\Carrier\Flatrate">
      	<plugin name="simiVendorMappingPluginCarrierFlatrate" type="Simi\VendorMapping\Plugin\Carrier\Flatrate"/>
	</type>
	<!-- <type name="Aramex\Shipping\Model\Aramex">
      	<plugin name="simiVendorMappingPluginCarrierAramex" type="Simi\VendorMapping\Plugin\Carrier\Aramex"/>
	</type> -->

	<type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="aw_giftcard_amounts_creator" xsi:type="string">Simi\VendorMapping\Model\ResourceModel\Product\Relation\Amounts\SaveHandler</item>
                        <item name="aw_giftcard_templates_creator" xsi:type="string">Simi\VendorMapping\Model\ResourceModel\Product\Relation\Templates\SaveHandler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="aw_giftcard_amounts_reader" xsi:type="string">Aheadworks\Giftcard\Model\ResourceModel\Product\Relation\Amounts\ReadHandler</item>
                        <item name="aw_giftcard_templates_reader" xsi:type="string">Aheadworks\Giftcard\Model\ResourceModel\Product\Relation\Templates\ReadHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="aw_giftcard_amounts_updater" xsi:type="string">Simi\VendorMapping\Model\ResourceModel\Product\Relation\Amounts\SaveHandler</item>
                        <item name="aw_giftcard_templates_updater" xsi:type="string">Simi\VendorMapping\Model\ResourceModel\Product\Relation\Templates\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <preference for="Simi\VendorMapping\Api\VendorRegisterInterface"
                type="Simi\VendorMapping\Model\Api\VendorRegister" />
    <preference for="Simi\VendorMapping\Api\VendorLoginInterface"
                type="Simi\VendorMapping\Model\Api\VendorLogin" />
    <preference for="Simi\VendorMapping\Api\VendorLogoutInterface"
                type="Simi\VendorMapping\Model\Api\VendorLogout" />
    <preference for="Simi\VendorMapping\Api\VendorListInterface" type="Simi\VendorMapping\Model\Api\VendorList" />
    <preference for="Simi\VendorMapping\Api\VendorInterface" type="Simi\VendorMapping\Model\Api\Vendor" />

</config>
