<?xml version="1.0"?>
<!--
/**
* Copyright 2019 SimiCart. All rights reserved.
* See LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- <event name="sales_quote_add_item">
        <observer name="simi_vendor_sales_quote_add_item" instance="Simi\VendorMapping\Observer\Sales\Quote\AddItem" />
    </event> -->
    <event name="simi_simiconnector_graphql_product_detail_extra_field_after">
        <observer name="simi_vendormapping_simiconnector_graphql_product_detail_extra_field_after"
                  instance="Simi\VendorMapping\Observer\SimiGraphqProductDetailExtraFieldAfter" />
    </event>
</config>