<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="simi_simiconnector_model_server_initialize">
        <observer name="simipaypalexpress_simi_simiconnector_model_server_initialize" 
                  instance="Simi\Simipaypalexpress\Observer\GetPluginsReturn" />
    </event>
    <event name="simiconnector_get_storeview_info_after">
        <observer name="simipaypalexpress_simiconnector_get_storeview_info_after" 
                  instance="Simi\Simipaypalexpress\Observer\GetStoreviewInfoAter" />
    </event>
    <event name="simiconnector_add_payment_method">
        <observer name="simipaypalexpress_simiconnector_add_payment_method" 
                  instance="Simi\Simipaypalexpress\Observer\AddPayment40" />
    </event>
    <event name="simi_simiconnector_model_api_orders_onepage_store_before">
        <observer name="simipaypalexpress_model_api_orders_onepage_store_before" 
                  instance="Simi\Simipaypalexpress\Observer\PreventOrderPlacing" />
    </event>
    <event name="sales_order_place_after">
        <observer name="simipaypalexpress_sales_order_place_after" 
                  instance="Simi\Simipaypalexpress\Observer\OrderPlacedAfter" />
    </event>
</config>