<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@styles
   .example-style { color: green; }
 @-->
<!--@vars {
"var data.name":"Name",
"var data.email":"Email",
"var data.service":"Type Of Service",
"var data.base_url":"Bianca base site"
} @-->
<!--@subject {{trans "Your Request for Cloth Alteration Received"}}  @-->

{{template config_path="design/email/header_template"}}

<table>
  <tr class="email-intro">
      <td>
        <p class="greeting">{{trans "Dear %customer_name," customer_name=$data.name }}</p>
        <p>
            {{trans 'Greetings of the day from <a href="%base_url" title="Bianca Nera" target="_blank">Bianca Nera</a>' base_url=$data.base_url |raw}}
        </p>
      </td>
  </tr>
  <tr class="email-summary">
      <td>
        <p>
          {{trans "We  have received your request for the alteration for %service" service=$data.service}}
        </p>
        <p>
          {{trans "Your request number is #%increment_id Please refer this number for future communication, We will contact you soon for further detail." increment_id=$data.increment_id }}
        </p>
      </td>
  </tr>
  <tr class="email-information">
      <td>
        <p>{{trans "Keep shopping with Bianca Nera."}}</p>
        <p>{{trans "Thank You"}}</p>
        <p>{{trans "Team Bianca Nera"}}</p>
      </td>
  </tr>
</table>

{{template config_path="design/email/footer_template"}}