.container-cc_form{
    .cc-msg-error {
        color: rgb(192, 18, 63);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1rem;
        padding: 0.375rem 0.125rem 0.125rem;
    }
    .cc-msg-success {
        color: rgb(0, 115, 120);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1rem;
        padding: 0.375rem 0.125rem 0.125rem;
    }


    &.container-cc_form-rtl{
        .cc-field{
            input[name="cc_number"]{
                direction: ltr;
                text-align: right;
            }
        }
    }

}
