<section class="pb-section pb-section-default" data-bind="attr: {id: sectionId}">
	<!-- ko foreach: getRegion('title') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('subtitle') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('description') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('view_more') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('icon') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('sample_image') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
</section>