<section class="pb-section pb-section-other-4cols" data-bind="attr: {id: sectionId}">
	<div class="pb-text-col pb-text-col1">
		<!-- ko foreach: getRegion('col1_text') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<div class="pb-text-col pb-text-col2">
		<!-- ko foreach: getRegion('col2_text') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<div class="pb-text-col pb-text-col3">
		<!-- ko foreach: getRegion('col3_text') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<div class="pb-text-col pb-text-col4">
		<!-- ko foreach: getRegion('col4_text') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<div class="pb-clearer"></div>
</section>