<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Vnecoms\VendorsSales\Controller\Vendors\Invoice\AbstractInvoice\PrintAction">
		<plugin name="vendorpdf_print_invoice" type="Vnecoms\VendorsPdf\Plugin\Invoice\PrintAction"/>
	</type>
	<preference for="Vnecoms\VendorsSales\Controller\Vendors\Order\Pdfinvoices" type="Vnecoms\VendorsPdf\Controller\Vendors\Order\Pdfinvoices"/>
	<preference for="Vnecoms\VendorsSales\Controller\Vendors\Invoice\Pdfinvoices" type="Vnecoms\VendorsPdf\Controller\Vendors\Invoice\Pdfinvoices"/>
	
	<type name="Vnecoms\VendorsSales\Controller\Vendors\Shipment\AbstractShipment\PrintAction">
		<plugin name="vendorpdf_print_shipment" type="Vnecoms\VendorsPdf\Plugin\Shipment\PrintAction"/>
	</type>
	<preference for="Vnecoms\VendorsSales\Controller\Vendors\Order\Pdfshipments" type="Vnecoms\VendorsPdf\Controller\Vendors\Order\Pdfshipments"/>
	<preference for="Vnecoms\VendorsSales\Controller\Vendors\Shipment\Pdfshipments" type="Vnecoms\VendorsPdf\Controller\Vendors\Shipment\Pdfshipments"/>
	
	
	<type name="Vnecoms\VendorsSales\Controller\Vendors\Creditmemo\AbstractCreditmemo\PrintAction">
		<plugin name="vendorpdf_print_creditmemo" type="Vnecoms\VendorsPdf\Plugin\Creditmemo\PrintAction"/>
	</type>
	<preference for="Vnecoms\VendorsSales\Controller\Vendors\Order\Pdfcreditmemos" type="Vnecoms\VendorsPdf\Controller\Vendors\Order\Pdfcreditmemos"/>
	<preference for="Vnecoms\VendorsSales\Controller\Vendors\Creditmemo\Pdfcreditmemos" type="Vnecoms\VendorsPdf\Controller\Vendors\Creditmemo\Pdfcreditmemos"/>
</config>
