.clothing-service{
    font-family: 'Gotham Book';
    input,textarea{
        border: none;
        outline: none;
        box-shadow: none;
        user-select: none;
        padding: 0px;
        background: transparent;
        width: 100%!important;
        &::placeholder{
            color: #727272;
            font-family: 'Gotham Book';
        }
    }
    textarea{
        line-height: 24px;
    }
    .container{
        .header{
            h1{
                font-size: 24px;
                line-height: 24px;
                font-family: 'Gotham Book';
                font-weight: 600;
            }
            p{
                margin-top: 24px;
                font-size: 16px;
                line-height: 24px;
                font-family: 'Gotham Book';
                font-weight: 500;
                text-align: justify;
                color: #727272;
            }
        }
        .quote-form{
            margin-top: 56px;
            h3{
                font-size: 18px;
                line-height: 18px;
                font-family: 'Gotham Book';
                font-weight: 600;
            }
            .form{
                margin-top: 24px;
                margin-bottom: 20px;
                .form-row{
                    margin-top: 20px;
                    >label{
                        font-size: 14px;
                        line-height: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-bottom: 0px;
                        display: block;
                        span{
                            padding-left: 4px;
                            padding-right: 4px;
                        }
                    }
                    .form-input{
                        font-size: 14px;
                        font-weight: 500;
                        width: 100%;
                        min-height: 48px;
                        line-height: 48px;
                        background-color: #f2f2f2;
                        padding-left: 16px;
                        padding-right: 16px;
                        max-width: 866px;
                        margin-top: 8px;
                        &.error{
                            border: 1px solid #b91c1c;
                        }
                        &.simi-input-select{
                            .icon{
                                line-height: 16px;
                            }
                            .input-display{
                                padding: 0px;
                            }
                            .input-option{
                                line-height: 24px;
                            }
                        }
                        &.detail,&.files{
                            padding: 17px 16px;
                            min-height: 244px;
                            textarea{
                                min-height: 210px;
                                display: block;
                            }
                            >span{
                                display: block;
                                line-height: 14px;
                                color: #727272;
                                font-family: 'Gotham Book';
                            }
                            .upload-file{
                                min-width: 161px;
                                max-height: 42px;
                                background-color: #5487B9;
                                -moz-border-radius: 50px;
                                -webkit-border-radius: 50px;
                                border-radius: 50px;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                padding: 14px;
                                text-align: center;
                                margin-top: 15px;
                                cursor: pointer;
                                label{
                                    font-weight: 500;
                                    color: #FFF;
                                    line-height: 14px;
                                    margin-bottom: 0px;
                                    cursor: pointer;
                                }
                            }
                            .added-files{
                                line-height: 28px;
                                .file-item{
                                    border-radius: 50px;
                                    background-color: #e0e0e0;
                                    padding: 10px;
                                    margin: 5px;
                                    line-height: 14px;
                                    display: inline-block;
                                    max-width: 244px;
                                    position: relative;
                                    >span{
                                        display: block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        margin-right: 20px;
                                    }
                                    .remove-file{
                                        position: absolute;
                                        top: calc(50% - 7px);
                                        right: 14px;
                                        width: 14px;
                                        height: 14px;
                                        cursor: pointer;
                                        svg{
                                            width: 14px!important;
                                            height: 14px!important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .form-submit{
                    margin-top: 50px;
                    .btn{
                        max-width: 278px;
                        min-height: 55px;
                        background-color: #101820;
                        font-size: 16px;
                        line-height: 16px;
                        color: #FFF;
                        cursor: pointer;
                        -moz-border-radius: 0px;
                        -webkit-border-radius: 0px;
                        border-radius: 0px;
                        text-transform: uppercase;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        span{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &.mobile{
        .container{
            padding-left: 16px;
            padding-right: 16px;
            .header{
                margin-top: 16px;
                h1{
                    font-size: 18px;
                    line-height: 18px;
                }
                p{
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
            .quote-form{
                margin-top: 26px;
                h3{
                    font-size: 16px;
                    line-height: 16px;
                }
                .form{
                    .form-row{
                        margin-top: 16px;
                        >label{
                            font-size: 12px;
                            line-height: 12px;
                            span{
                                padding-left: 2px;
                                padding-right: 2px;
                            }
                        }
                        .form-input{
                            min-height: 46px;
                            line-height: 46px;
                            padding-left: 12px;
                            padding-right: 12px;
                            &.detail,&.files{
                                padding: 17px 16px;
                                min-height: 214px;
                                line-height: 24px;
                                textarea{
                                    min-height: 180px;
                                    line-height: 14px;
                                }
                                .upload-file{
                                    min-width: 141px;
                                    max-height: 36px;
                                }
                                .added-files{
                                    .file-item{
                                        padding: 6px 10px;
                                        margin: 3px;
                                        >span{
                                            font-size: 12px;
                                        }
                                        .remove-file{
                                            right: 12px;
                                            width: 12px;
                                            height: 12px;
                                            svg{
                                                width: 12px!important;
                                                height: 12px!important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .form-submit{
                        margin-top: 30px;
                        .btn{
                            max-width: 178px;
                            min-height: 45px;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}