#modal-get-otp-register {
  width: 80%;
  max-width: 604px;
  max-height: 252px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 24px 32px;
  button {
    width: 16px;
    height: 16px;
    color: #101820;
    top: 24px;
    right: 32px;
    svg {
      height: 16px;
      color: #101820;
    }
  }
  .title {
    margin-top: 7px;
    color: #101820;
    font-family: Gotham;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  .description {
    margin-top: 20px;
    color: #101820;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    max-width: 443px;
    margin-left: auto;
    margin-right: auto;
    .bold-number {
      font-weight: bold;
    }
  }
  .btn-show-get-modal {
    margin-top: 60px;
    height: 48px;
    width: 180px;
    background-color: #101820;
    color: #fff;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

// Right to left
.rtl-wrap-modal button {
  right: unset !important;
  left: 32px;
}

@media (max-width: 700px) {
  #modal-get-otp-register {
    margin-top: 40%;
    padding: 24px 10px;
    .title {
      font-family: Gotham;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      margin-top: 31px;
    }
    button {
      top: 12px;
      right: 17px;
    }
    .description {
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
    }
    .btn-show-get-modal {
      margin-top: 60px;
      height: 40px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .rtl-wrap-modal button {
    top: 12px !important;
    right: unset !important;
    left: 17px !important;
  }
}

@media (max-width: 550px) {
  #modal-get-otp-register {
    min-width: 303px;
    padding: 24px 10px;
    padding-bottom: 30px;
    .title {
    }
    button {
    }
    .description {
      max-width: 193px;
    }
  }
}

@media (max-width: 320px) {
  #modal-get-otp-register {
    min-width: 280px;
  }
}
