<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="siminotification_product_save_before" 
                  instance="Simi\Simiconnector\Observer\CatalogProductSaveBefore" />
    </event>
    <event name="sales_quote_address_save_before">
        <observer name="simi_connector_sales_quote_address_save_before"
                  instance="Simi\Simiconnector\Observer\SalesQuoteAddressSaveBefore" />
    </event>
    <event name="customer_session_init">
        <observer name="simi_connector_customer_session_init"
                  instance="Simi\Simiconnector\Observer\CustomerSessionInit" />
    </event>
    <event name="controller_front_send_response_before">
        <observer name="simi_simiconnector_controller_front_send_response_before"
                  instance="Simi\Simiconnector\Observer\ControllerSendResponseBefore" />
    </event>
    <event name="simiconnector_system_rest_modify">
        <observer name="simi_simiconnector_system_rest_modify"
                  instance="Simi\Simiconnector\Observer\SystemRestModify" />
    </event>
</config>