.page-404 {
    text-align: center;
    margin-top: 0px;
    .container-404 {
        padding-top: 180px;
        padding-bottom: 180px;
        .title-404 {
            font-family: "Gotham Book";
            font-size: 100px;
            line-height: 80px;
        }
        .sub-title-404 {
            font-family: "Gotham Book";
            font-size: 30px;
            line-height: 30px;
        }
        .description-404 {
            margin-top: 15px;
            font-family: "Gotham Book";
            font-size: 18px;
            line-height: 18px;
        }
    }

    @media (max-width: 1023px) {       
        .container-404 {
            .title-404 {
                font-size: 60px;
                line-height: 60px;
            }
            .sub-title-404 {
                font-size: 20px;
                line-height: 20px;
            }
            .description-404 {
                margin-top: 10px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}