<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">	
	<!-- Fix Vendor home page items to work with SM_ShopBy extension -->
	<event name="controller_action_predispatch_vendorspage_items_index">
		<observer name="vnecoms_smtheme_vendorspage_items_index" instance="Vnecoms\SmTheme\Observer\ResetAjaxParam" />
	</event>
	<event name="controller_action_postdispatch_vendorspage_items_index">
		<observer name="vnecoms_smtheme_vendorspage_items_index" instance="Vnecoms\SmTheme\Observer\VendorPageItems" />
	</event>
	
	<!-- Fix Vendor page items to work with SM_ShopBy extension -->
	<event name="controller_action_predispatch_vendorspage_index_index">
		<observer name="vnecoms_smtheme_vendorspage_index_index" instance="Vnecoms\SmTheme\Observer\ResetAjaxParam" />
	</event>
	<event name="controller_action_postdispatch_vendorspage_index_index">
		<observer name="vnecoms_smtheme_vendorspage_index_index" instance="Vnecoms\SmTheme\Observer\VendorHomePageItems" />
	</event>
	
	<!-- Fix Vendor Search page to work with SM_ShopBy extension -->
	
	<event name="controller_action_predispatch_vendorspage_searchresult_index">
		<observer name="vnecoms_smtheme_vendorspage_searchresult_index" instance="Vnecoms\SmTheme\Observer\ResetAjaxParam" />
	</event>
	<event name="controller_action_postdispatch_vendorspage_searchresult_index">
		<observer name="vnecoms_smtheme_vendorspage_searchresult_index" instance="Vnecoms\SmTheme\Observer\VendorSearch" />
	</event>
	
	<!-- Fix for Quote Extension -->
	<event name="view_block_abstract_to_html_after">
		<observer name="vnecoms_smtheme_fix_quotation" instance="Vnecoms\SmTheme\Observer\Sm\FilterProducts" />
	</event>
	
</config>
