@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?ge1ybz');
    src:    url('../fonts/icomoon.eot?ge1ybz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ge1ybz') format('truetype'),
    url('../fonts/icomoon.woff?ge1ybz') format('woff'),
    url('../fonts/icomoon.svg?ge1ybz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body .admin__menu .item-pdfpro > a::before {
    font-family: 'icomoon' !important;
    content: "\e900";
}
