.new-review {
    .review-list-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .review-form {
        max-width: 572px;
        .your-rating-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .table{
            margin-bottom: 25px;
            td{
                border-top: none;
                padding-left: 0;
                vertical-align: middle;
                padding: 0;
                font-size: 16px;
                line-height: 16px;
                &.label-item{
                    padding-right: 12px;
                }
                .rate-star{
                    margin-right: 5px;
                }
            }
        }
    }
    .rq {
        color: red;
    }
    .form-content{
        .form-group{
            margin-bottom: 27px;
            .label-item {
                margin-bottom: 15px;
                font-family: Gotham;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
            }
            .form-control{
                border: none !important;
                border-radius: 0 !important;
                box-shadow: none !important;
                font-family: 'Gotham Book';
                color: #101820;
                height: 48px;
                padding: 17px 16px;
                &::-webkit-input-placeholder,&:-ms-input-placeholder,&::placeholder { /* Edge */
                    color: #727272;
                }
            }
            textarea.form-control{
                height: 208px;
            }
        }
        .btn-submit-review-ctn{
            margin-top: 50px;
            .btn-submit-review{
                width: 278px;
                height: 55px;
                background-color: #101820;
                color: #fff;
                font-family: Gotham;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 16px;
                padding-top: 0px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
    @media screen and (max-width: 639px){
        .review-form {
            .form-content{
                .form-group{
                    margin-bottom: 20px;
                }
                .btn-submit-review-ctn{
                    margin-top: 20px;
                    .btn-submit-review{
                        min-width: 145px;
                        min-height: 36px;
                        font-size: 12px;
                        line-height: 12px;
                        padding: 12px;
                        width: fit-content;
                        height: fit-content;
                    }
                }
            }
        }
    }
}
.mobile{
    .new-review{
        .review-form{
            .your-rating-title{
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 10px;
            }
            .table{
                margin-bottom: 20px;
            }
            .label-item{
                font-size: 14px;
                line-height: 14px;
                padding: 0px;
                padding-right: 0px;
            }
            td span svg{
                height: 20px!important;
                width: 20px!important;
            }
            .form-content{
                .btn-submit-review-ctn{
                    margin-top: 30px;
                    margin-bottom: 17px;
                    .btn-submit-review{
                        min-width: 161px;
                        min-height: 40px;
                        line-height: 14px;
                        .siminia-btn{
                            font-size: 14px;
                            line-height: 14px;
                            font-family: 'Gotham Book';
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
.rtl-root{
    .new-review .review-form .table td.label-item{
        padding-left: 12px;
        padding-right: 0px;
    }
}