.review-list {
    .error{
        margin: 20px;
        text-align: center;
        color: #b91c1c;
    }
    .review-list-title {
        font-size: 24px;
        line-height: 24px;
        font-family: Gotham;
        margin-bottom: -8px;
        span{
            font-weight: 600;
        }
    }
    .total-rate{
        margin-bottom: 30px;
        margin-top: 20px;
        p{
            font-size: 16px;
            margin-top: 10px;
        }
    }
    .text-center {
        text-align: center;
    }
    .list-review-item {
        padding: 0;
    }
    .review-item {
        border-top: solid #BDBDBD 1px;
        padding: 30px 0;
    }
    .item-title {
        font-weight: 350;
        font-size: 20px;
        margin-bottom: 28px;
    }
    .review-item-detail {
        padding: 0;
        margin-bottom: 5px;
        margin-top: 24px;
        flex-wrap: wrap;
        display: inline-flex;
        line-height: 16px;
        @media (max-width: 1024px){
            justify-content: center;
            .item-created{
                margin-left: 0px;
            }
        }
    }
    .item-detail {
        padding: 0;
    }
    /*
    pagination
    */
    .config-page {
        margin-top: 15px;
        flex-wrap: wrap;
    }
    .item-created {
        font-size: 16px;
        line-height: 16px;
        margin-left: auto;
        color: #727272;
        span{
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #808080;
            max-height: 16px;
            line-height: 16px;
            padding-top: 2px;
        }
    }
}
.mobile {
    .review-list{
        .review-list-title{
            font-size: 14px;
            line-height: 14px;
        }
        .total-rate{
            margin-top: 10px;
            margin-bottom: 10px;
            > div{
                height: 20px!important;
                line-height: 20px!important;
                margin-top: 0px!important;
                span{
                    height: 20px!important;
                    line-height: 20px!important;
                    svg{
                        width: 20px!important;
                        height: 20px!important;
                    }
                }
            }
            > p{
                font-size: 14px;
                line-height: 14px;
            }
        }
        .list-review-item{
            .item{
                padding: 20px 0;
                border-top: 1px solid #E0E0E0;
                line-height: 14px;
                &:first-child{
                    border-top: none;
                }
                .item-title{
                    font-family: 'Gotham Book';
                    font-size: 14px;
                    line-height: 14px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
                .item-detail{
                    font-size: 14px;
                    line-height: 24px;
                    text-align: justify;
                }
                .review-item-detail{
                    margin-top: 15px;
                    margin-bottom: 0px;
                    .item-created{
                        font-size: 14px;
                        line-height: 14px;
                        span{
                            padding-right: 8px;
                            margin-right: 8px;
                            line-height: 14px;
                        }
                    }
                    .item-rate{
                        >div{
                            height: 14px!important;
                            margin-top: 0px!important;
                            span{
                                height: 14px!important;
                                line-height: 14px!important;
                                svg{
                                    width: 14px!important;
                                    height: 14px!important;
                                }
                            }
                        }
                    }
                }
            }
            >div>div:last-child{
                //pagination
                margin-bottom: 30px;
                font-size: 14px;
                line-height: 14px;
                span{
                    font-size: 14px!important;
                    line-height: 14px!important;
                    font-weight: 500!important;
                }
            }
        }
        .load-more{
            .btn-load-more{
                text-decoration: underline;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}
.rtl-root{
    .review-list{
        .item-created{
            span{
                padding-right: 0px;
                margin-right: 0px;
                border-right: none;
                padding-left: 10px;
                margin-left: 10px;
                border-left: 1px solid #808080;
            }
        }
    }
    .mobile {
        .review-list{
            .list-review-item{
                .item{
                    .review-item-detail{
                        .item-created{
                            span{
                                padding-right: 0px;
                                margin-right: 0px;
                                padding-left: 8px;
                                margin-left: 8px;
                                border-right: none;
                                border-left: 1px solid #808080;
                            }
                        }
                    }
                }
            }
        }
    }
}