.owl-item {
    margin-right: 6px;
}

.pdf-preview {float: left;}
.pdf_container:after{clear:both;}
.base-template-wrapper {width: 94%;float:right;}
.preview-image-label {text-align: center; margin-top: 3px;font-weight: bold;}


.no-image {
    width:300px;
    height:481px;
    background:#999;
    border:none;
    position:relative;
}

div.owl-carousel-li {
    margin-right:4px;
}

.no-image p {
    color:#ffffff;
    font-size:1.2em;
    font-weight:bold;
    position: absolute;
    top:123px;
    left:73px;
}
.jcarousel-wrapper {
    float:left;
    width:840px;
    margin-left: 10px;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.owl-carousel-wrapper {
    float:left;
    width:840px;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 160px;
    float: left;
    margin-left:2px;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: -52px;
}

.jcarousel-control-next {
    right: -52px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}


/*div.egcSwatch-arrow {*/
/*background-image: url("../images/down-arrow.png");*/
/*background-position: center top;*/
/*background-repeat: no-repeat;*/
/*clear: both;*/
/*height: 11px;*/
/*left: 1px;*/
/*position: absolute;*/
/*top: -2px;*/
/*width: 100%;*/
/*}*/

.owl-carousel .active {
    border: 2px solid rgb(228, 121, 17) !important;
}

.pdf-preview {float:left; width:25%;
    margin-right:59px;}

/** fix */

#base_template_wrapper .owl-carousel-li{
    max-width: 150px;
}

/** fix style groups variable dialog **/
.vespdf-variables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}
.variable--group {
    width: 280px;
    height: auto;
    position: relative;
    padding: 8px;

}
.vespdf-variables li {padding-left: 0;}
.vespdf-variables li.group--title {margin-left: 10px; font-size:17px; margin-bottom: 15px;}
.vespdf-variables li.group--item a {text-decoration: none; color: #35302c; position: relative;}
.vespdf-variables li a:hover {text-decoration: none; padding-left: 8px; color: #f96363;}
.variable--group.order {  order: 1;  }
.variable--group.invoice {  order: 2;  }
.variable--group.customer {  order: 5;  }
.variable--group.billing_address {  order: 6;  }
.variable--group.shipping_address {  order: 7;  }
.variable--group.payment_information {  order: 8;  }
.variable--group.shipment {  order: 3;  }
.variable--group.credit_memo {  order: 4;  }

#template-reset {
    border: none;
    background: #eb5202;
    color: #ffffff;
    display: block;
    padding: 10px 15px;
    margin: 0 auto;
}
#template-reset:hover {
    background: #BA4000;
}
#base_template_wrapper {
    width: 70%; float: right;
}