<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendors>
        	<catalog>
        		<new_product_approval>1</new_product_approval>
        		<update_product_approval>1</update_product_approval>
				<attribute_approval_flag>0</attribute_approval_flag>
				<attribute_approval>media_gallery,quantity_and_stock_status,image,small_image,thumbnail</attribute_approval>
        		<sender_email_identity>general</sender_email_identity>
        		<new_product_approval_email_admin>vendors_catalog_new_product_approval_email_admin</new_product_approval_email_admin>
        		<update_product_approval_email_admin>vendors_catalog_update_product_approval_email_admin</update_product_approval_email_admin>
        		<product_approved_email_vendor>vendors_catalog_product_approved_email_vendor</product_approved_email_vendor>
        		<update_product_approved_email_vendor>vendors_catalog_update_product_approved_email_vendor</update_product_approved_email_vendor>
        		<product_denied_email_vendor>vendors_catalog_product_denied_email_vendor</product_denied_email_vendor>
        		<update_product_denied_email_vendor>vendors_catalog_update_product_denied_email_vendor</update_product_denied_email_vendor>
        		<product_edit_tabs_template>vertical</product_edit_tabs_template>
        		<can_set_website>0</can_set_website>
        	</catalog>
        </vendors>
    </default>
</config>
