<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
    <route id="simistorelocator" frontName="simistorelocator">
      <module name="Simi_Simistorelocator"/>
    </route>
  </router>
</config>
