$colorTitle: #101820;
$colorSubTitle: #727272;

.left-store-switch .storeview-switcher .storeview .menu-title{
    text-transform: uppercase;
    color: $colorTitle;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.left-store-switch .storeview-switcher .storeview .menu-item{
    margin-left: -5px;
    padding-left: 33px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.left-store-switch .storeview-switcher .storeview .menu-item .store-name{
    text-transform: uppercase;
    color: $colorSubTitle;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}
.left-store-switch .storeview-switcher .storeview div[class ~="MuiListItem-gutters"]{
    margin-top: 37px;
    padding-left: 33px;
    padding-right: 19px;
}
.left-store-switch .storeview-switcher .storeview i[class ~="icon-chevron-down"],
.left-store-switch .storeview-switcher .storeview i[class ~="icon-chevron-up"]{
    font-size: 12px;
    color: $colorTitle;
}

.left-store-switch .currency-switcher .currency .menu-title{
    text-transform: uppercase;
    color: $colorTitle;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.left-store-switch .currency-switcher .currency .menu-item{
    margin-left: -5px;
    padding-left: 33px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.left-store-switch .currency-switcher .currency .menu-item .currency-name{
    text-transform: uppercase;
    color: $colorSubTitle;
    font-family: Gotham;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
}
.left-store-switch .currency-switcher .currency div[class ~="MuiListItem-gutters"]{
    margin-top: 37px;
    padding-left: 33px;
    padding-right: 19px;
}
.left-store-switch .currency-switcher .currency i[class ~="icon-chevron-down"],
.left-store-switch .currency-switcher .currency i[class ~="icon-chevron-up"]{
    font-size: 12px;
    color: $colorTitle;
}

.left-contact-us .menu-item{
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 33px;
    padding-top: 45px;
    color: $colorTitle;
}

.left-store{
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: $colorTitle;
    margin-top: 37px;
    padding-left: 33px;
    padding-right: 19px;
    text-transform: uppercase;
    div{
        padding-top: 8px;
        padding-bottom: 8px; 
    }
}

.left-bottom-menu{
    padding-bottom: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #F2F2F2;
    div{
        margin-top: 30px;
    }
}

.rtl-root {
    .left-store-switch .storeview-switcher .storeview .menu-item{
        margin-right: -5px;
        padding-right: 33px;
    }
    .left-store-switch .currency-switcher .currency .menu-item {
        margin-right: -5px;
        padding-right: 33px;
    }
}