.login-background {
    background-color: white;
    padding: 25px;
    /* background-image: url('./login_bg_2.jpg'); */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.login-container {
    max-width: 768px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 55px;
    border: 1px solid;
    background-color: white;
    max-height: 591px;
}
.signIn_closed {
    display: none;
}
.modal_active {
    left: 0;
}
.form_closed {
    display: none;
}
.login-header {
    display: flex;
    margin-bottom: 35px;
}
.login-header-back {
    width: 20%;
    margin-top: 8px;
    cursor: pointer;
}
.login-header-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.login-header.has-back-btn .login-header-title{
    width: 60%;
}

.login-container .login-tab{
    display: flex;
}

.login-container .login-tab div{
    max-width: 384px;
    max-height: 60px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid;
    font-family: Gotham;
}

.login-container .login-tab .buyer-tab{
    border-right: 1px solid
}

.login-tab div:hover{
    background-color: #101820;
    cursor: pointer;
    color: #FFF;
}

.login-tab .active{
    background-color: #101820;
    color: #FFF;
}