.root {
    display: block;
}

@media (min-width: 1024px) {
    .root {
        align-items: start;
        display: grid;
        grid-auto-flow: row;
        grid-template-areas:
            'images title'
            'images actions'
            'images options'
            'images quantity'
            'images cart'
            'images .';
        grid-template-columns: 1.5625fr 1fr;
        grid-template-rows: repeat(5, min-content) 1fr [fold];
        padding: 2.5rem 4rem;
    }
}

.title {
    align-items: center;
    display: grid;
    grid-area: title;
    grid-gap: 1rem;
    grid-template-columns: 1fr max-content;
    line-height: 1.5;
    padding: 1rem 1.5rem;
}

@media (min-width: 1024px) {
    .title {
        padding: 1.5rem;
    }
}

.productName {
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .productName {
        font-size: 1.3125rem;
        font-weight: 400;
    }
}
.imageCarousel {
    grid-area: images;
    grid-column: 1 / 2;
    grid-row: 1 / fold;
    margin: 0 auto;
    max-width: 640px;
}

@media (min-width: 1024px) {
    .imageCarousel {
        margin: 0;
        max-width: 800px;
        padding: 1.5rem 0;
    }
}

.cartActions {
    padding: 0 15px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-quantity {
    display: flex;
    font-size: 17px;
    width: 25%;
}

.product-quantity input{
    padding: 10px;
    border: solid #eaeaea 1px;
    width: 100%;
    text-align: center;
}

.add-to-cart-ctn {
    width: 70%;
    min-width: 200px;
    max-width: 300px;
}

.add-to-cart-btn {
    width: 100%;
    padding: 12px;
}

.description {
    border-top: solid #eaeaea 1px;
    padding: 1.5rem;
}

.descriptionTitle {
    font-size: 20px;
    margin-bottom: 20px;
}