.root {
    display: flex;
    flex-wrap: wrap;
}

.title {
    align-items: center;
    line-height: 1.5;
    padding: 1rem 1.5rem;
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .title {
        padding: 1.5rem;
    }
}

.productName {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.imageCarousel {
    margin: 0 auto;
    min-width: 300px;
    max-width: 640px;
    width: 60%;
}

@media (max-width: 1023px){
    .imageCarousel {
        width: 100%;
    }
}

.mainActions {
    width: 40%;
    min-width: 300px;
}

@media (max-width: 1023px){
    .mainActions {
        width: 100%;
    }
}

.productPrice {
    padding: 1rem 1.5rem;
}

.cartActions {
    padding: 1rem 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-quantity {
    display: flex;
    font-size: 17px;
    width: 25%;
}

.product-quantity input{
    padding: 10px;
    border: solid #eaeaea 1px;
    width: 100%;
    text-align: center;
}

.add-to-cart-ctn {
    width: 100%;
    min-width: 200px;
}

.add-to-cart-btn {
    width: 100%;
    padding: 12px;
}

.description {
    margin-top: 15px;
    width: 100%;
    border-top: solid #eaeaea 1px;
    padding: 1.5rem;
}

.descriptionTitle {
    font-size: 20px;
    margin-bottom: 20px;
}