.left-all-cats{
    padding-top: 7px;
    font-size: 14px;
    padding-left: 33px;
    font-family: Gotham;
    font-weight: 500;
}

.left-cats-menu{
    margin-top: 62px;
    .MuiListItem-button{
        padding-left: unset;
        padding-right: 19px;
    }
    .icons{
        font-size: 12px;
    }

    .menu-item-wrap{
        margin-left: -5px;
        padding-left: 33px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}


.menu-content{
    display: flex;
    align-items: center;
    color: #101820;
}