$cbColor: #101820;
$cbColor2: #fff;

.try-to-buy{
    position: relative;
    margin-top: 24px;

    input{
        display: none;
        visibility: hidden;
        opacity: 0;
        
    }
    label{
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 0px;
        padding-left: 33px;
        position: relative;
        height: 24px;
        display: flex;
        align-items: center;
        font-family: 'Gotham Book';
        &::before{
            content: '';
            width: 24px;
            height: 24px;
            border: 1px solid $cbColor;
            box-sizing: border-box;
            position: absolute;
            left: 0;
        }
    }
    input:checked{
        &+label::before{
            background-color: $cbColor;
        }
        &+label::after{
            content: '';
            transform: rotateX(0deg) rotateY(180deg) rotateZ(-45deg);
            color: $cbColor2;
            border: 1px solid $cbColor2;
            border-top: none;
            border-right: none;
            background: transparent;
            position: absolute;
            top: 1px;
            left: 8px;
            width: 7px;
            height: 17px;
            font-size: 14px;
            font-weight: 400;
            transition: all .2s;
        }
    } 
}