<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Add new checkout config to shopping cart / onepage checkout -->
	<type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="vnecoms_vendors_shipping" xsi:type="object">Vnecoms\VendorsShipping\Model\ShippingConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="vendorsShipping" xsi:type="object">Vnecoms\VendorsShipping\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Cart\Shipping">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="vendorsShipping" xsi:type="object">Vnecoms\VendorsShipping\Block\Checkout\Cart\ShippingProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Cart\Totals">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="vendorsShipping" xsi:type="object">Vnecoms\VendorsShipping\Block\Checkout\Cart\TotalsProcessor</item>
            </argument>
        </arguments>
    </type>
</config>