<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Vnecoms\VendorsApi\Api\VendorRepositoryInterface" type="Vnecoms\VendorsApi\Model\VendorRepository" />
    <preference for="Vnecoms\VendorsApi\Api\DashboardRepositoryInterface" type="Vnecoms\VendorsApi\Model\DashboardRepository" />
    <preference for="Vnecoms\VendorsApi\Api\OrderRepositoryInterface" type="Vnecoms\VendorsApi\Model\OrderRepository" />
    <preference for="Vnecoms\VendorsApi\Api\CreditRepositoryInterface" type="Vnecoms\VendorsApi\Model\CreditRepository" />
    <preference for="Vnecoms\VendorsApi\Api\ProductRepositoryInterface" type="Vnecoms\VendorsApi\Model\ProductRepository" />
    <preference for="Vnecoms\VendorsApi\Api\VendorProductAttributeMediaGalleryManagementInterface" type="Vnecoms\VendorsApi\Model\Product\Gallery\VendorGalleryManagement" />
    <preference for="Vnecoms\VendorsApi\Api\VendorProductCustomOptionRepositoryInterface" type="Vnecoms\VendorsApi\Model\Product\Option\VendorProductCustomOptionRepository" />
    <preference for="Vnecoms\VendorsApi\Api\ProductCustomOptionTypeListInterface" type="Vnecoms\VendorsApi\Model\ProductCustomOptionTypeList" />
	<preference for="Vnecoms\VendorsApi\Api\VendorProductTierPriceManagementInterface" type="Vnecoms\VendorsApi\Model\Product\Price\VendorTierPriceManagement" />
	<preference for="Vnecoms\VendorsApi\Api\VendorTierPriceStorageInterface" type="Vnecoms\VendorsApi\Model\Product\Price\VendorTierPriceStorage" />
	<preference for="Vnecoms\VendorsApi\Api\VendorBasePriceStorageInterface" type="Vnecoms\VendorsApi\Model\Product\Price\VendorBasePriceStorage" />
	<preference for="Vnecoms\VendorsApi\Api\VendorCostStorageInterface" type="Vnecoms\VendorsApi\Model\Product\Price\VendorCostStorage" />
	<preference for="Vnecoms\VendorsApi\Api\VendorSpecialPriceStorageInterface" type="Vnecoms\VendorsApi\Model\Product\Price\VendorSpecialPriceStorage" />


	<preference for="Vnecoms\VendorsApi\Api\VendorProductLinkManagementInterface" type="Vnecoms\VendorsApi\Model\Product\Bundle\VendorProductLinkManagement" />
	<preference for="Vnecoms\VendorsApi\Api\VendorProductOptionRepositoryInterface" type="Vnecoms\VendorsApi\Model\Product\Bundle\VendorProductOptionRepository" />
	<preference for="Vnecoms\VendorsApi\Api\VendorProductOptionTypeListInterface" type="Vnecoms\VendorsApi\Model\Product\Bundle\VendorProductOptionTypeList" />
	<preference for="Vnecoms\VendorsApi\Api\VendorProductOptionManagementInterface" type="Vnecoms\VendorsApi\Model\Product\Bundle\VendorProductOptionManagement" />

    <preference for="Vnecoms\VendorsApi\Api\ReportRepositoryInterface" type="Vnecoms\VendorsApi\Model\ReportRepository" />
    <preference for="Vnecoms\VendorsApi\Api\NotificationRepositoryInterface" type="Vnecoms\VendorsApi\Model\NotificationRepository" />
	<preference for="Vnecoms\VendorsApi\Api\InvoiceRepositoryInterface" type="Vnecoms\VendorsApi\Model\InvoiceRepository" />
	<preference for="Vnecoms\VendorsApi\Api\MemoRepositoryInterface" type="Vnecoms\VendorsApi\Model\MemoRepository" />
	<preference for="Vnecoms\VendorsApi\Api\ShipmentRepositoryInterface" type="Vnecoms\VendorsApi\Model\ShipmentRepository" />
	<preference for="Vnecoms\VendorsApi\Api\WithdrawalRepositoryInterface" type="Vnecoms\VendorsApi\Model\WithdrawalRepository" />

	<preference for="Vnecoms\VendorsApi\Api\Data\VendorInterface" type="Vnecoms\VendorsApi\Model\Data\Vendor" />
	<preference for="Vnecoms\VendorsApi\Api\Data\NotificationInterface" type="Vnecoms\VendorsApi\Model\Data\Notification" />
	<preference for="Vnecoms\VendorsApi\Api\Data\NotificationSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\NotificationSearchResult" />

	<preference for="Vnecoms\VendorsApi\Api\Data\Dashboard\DashboardInterface" type="Vnecoms\VendorsApi\Model\Data\Dashboard\Dashboard" />
    <preference for="Vnecoms\VendorsApi\Api\Data\Dashboard\CreditChartInterface" type="Vnecoms\VendorsApi\Model\Data\Dashboard\CreditChart" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Dashboard\OrderChartInterface" type="Vnecoms\VendorsApi\Model\Data\Dashboard\OrderChart" />

	<preference for="Vnecoms\VendorsApi\Api\Data\Credit\TransactionInterface" type="Vnecoms\VendorsApi\Model\Data\Credit\Transaction" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Credit\TransactionSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Credit\TransactionSearchResult" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Credit\WithdrawalInterface" type="Vnecoms\VendorsApi\Model\Data\Credit\Withdrawal" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Credit\WithdrawalSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Credit\WithdrawalSearchResult" />

	<preference for="Vnecoms\VendorsApi\Api\Data\Report\BestsellingInterface" type="Vnecoms\VendorsApi\Model\Data\Report\Bestselling" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Report\BestsellingSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Report\BestsellingSearchResult" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Report\MostViewedInterface" type="Vnecoms\VendorsApi\Model\Data\Report\MostViewed" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Report\MostViewedSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Report\MostViewedSearchResult" />

	<preference for="Vnecoms\VendorsApi\Api\Data\Catalog\ProductInterface" type="Magento\Catalog\Model\Catalog\Product" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Catalog\ProductSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\OrderInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\Order" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\OrderSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\OrderSearchResult" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\InvoiceInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\Invoice" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\InvoiceSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\InvoiceSearchResult" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\MemoInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\Memo" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\MemoSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\MemoSearchResult" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\ShipmentInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\Shipment" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\ShipmentSearchResultInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\ShipmentSearchResult" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\ItemQtyInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\ItemQty" />
	<preference for="Vnecoms\VendorsApi\Api\Data\Sale\TrackingInterface" type="Vnecoms\VendorsApi\Model\Data\Sale\Tracking" />

	<virtualType name="Vnecoms\VendorsApi\Model\Api\SearchCriteria\VendorsOrderApiCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
		<arguments>
			<argument name="processors" xsi:type="array">
				<item name="filters" xsi:type="object">Vnecoms\VendorsApi\Model\Api\SearchCriteria\VendorsOrderApiCollectionProcessor\FilterProcessor</item>
				<item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
				<item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
			</argument>
		</arguments>
	</virtualType>

	<virtualType name="Vnecoms\VendorsApi\Model\Api\SearchCriteria\VendorsOrderApiCollectionProcessor\FilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
		<arguments>
			<argument name="fieldMapping" xsi:type="array">
				<item name="status" xsi:type="string">main_table.status</item>
				<item name="entity_id" xsi:type="string">main_table.entity_id</item>
				<item name="base_grand_total" xsi:type="string">main_table.base_grand_total</item>
				<item name="base_total_paid" xsi:type="string">main_table.base_total_paid</item>
				<item name="grand_total" xsi:type="string">main_table.grand_total</item>
				<item name="total_paid" xsi:type="string">main_table.total_paid</item>
				<item name="created_at" xsi:type="string">main_table.created_at</item>
				<item name="updated_at" xsi:type="string">main_table.updated_at</item>
				<item name="subtotal" xsi:type="string">main_table.subtotal</item>
				<item name="total_refunded" xsi:type="string">main_table.total_refunded</item>
			</argument>
		</arguments>
	</virtualType>

	<virtualType name="Magento\Catalog\Model\Api\SearchCriteria\ProductCollectionProcessor" type="Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor">
		<arguments>
			<argument name="processors" xsi:type="array">
				<item name="filters" xsi:type="object">Magento\Catalog\Model\Api\SearchCriteria\CollectionProcessor\ProductFilterProcessor</item>
				<item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
				<item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Vnecoms\VendorsApi\Model\ProductRepository">
		<arguments>
			<argument name="collectionProcessor" xsi:type="object">Magento\Catalog\Model\Api\SearchCriteria\ProductCollectionProcessor</argument>
		</arguments>
	</type>
</config>
