<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
    	<vendors>
    		<withdrawal>
    			<new_withdrawal_email_template_admin>vendors_withdrawal_new_withdrawal_email_template_admin</new_withdrawal_email_template_admin>
    			<new_withdrawal_email_template_vendor>vendors_withdrawal_new_withdrawal_email_template_vendor</new_withdrawal_email_template_vendor>
    			<withdrawal_canceled_email_template>vendors_withdrawal_withdrawal_canceled_email_template</withdrawal_canceled_email_template>
    			<withdrawal_completed_email_template>vendors_withdrawal_withdrawal_completed_email_template</withdrawal_completed_email_template>
    			<sender_email_identity>general</sender_email_identity>
    		</withdrawal>
    		<credit>
    			<enable_escrow>0</enable_escrow>
    			<hold_time>30</hold_time>
    			<new_escrow>vendors_credit_new_escrow</new_escrow>
    			<escrow_released>vendors_credit_escrow_released</escrow_released>
    			<escrow_canceled>vendors_credit_escrow_canceled</escrow_canceled>
    			<sender_email_identity>general</sender_email_identity>
    		</credit>
   		</vendors>
        <withdrawal_methods>
        	<paypal>
        		<active>0</active>
        		<model>Vnecoms\VendorsCredit\Model\Withdrawal\Method\Paypal</model>
        		<title>Paypal</title>
        		<description>Withdraw funds to your PayPal account.</description>
        		<fee>4.4</fee>
        		<fee_type>percent</fee_type><!-- If this is not defined, the fixed type will be used. -->
        		<min_value>10</min_value>
        	</paypal>
        	<wire_transfer>
        		<active>1</active>
        		<model>Vnecoms\VendorsCredit\Model\Withdrawal\Method\WireTransfer</model>
        		<title>Wire Transfer</title>
        		<description>Withdraw funds directly to your back account. For countries where Express Withdrawal is unavailable.</description>
        		<fee>1</fee>
        		<fee_type>fixed</fee_type>
        		<min_value>10</min_value>
        	</wire_transfer>
       	</withdrawal_methods>
    </default>
</config>
