<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog">
                    <resource id="Aheadworks_Giftcard::home" title="Gift Card by Aheadworks" sortOrder="100">
                        <resource id="Aheadworks_Giftcard::code_pools" title="Manage Code Pools" />
                        <resource id="Aheadworks_Giftcard::giftcard_codes" title="Manage Gift Card Codes" />
                        <resource id="Aheadworks_Giftcard::giftcard_products" title="Manage Gift Card Products" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Aheadworks_Giftcard::config_aw_giftcard" title="Gift Card by Aheadworks" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
