.my-gift-vouchers-area{
    .form-add-voucher{
        display: flex;
        justify-content: space-between;
        .form-group{  
            max-width: 474px;
            width: 100%;
            input{
                height: 48px;
                border-radius: unset;
                border-color: #727272;
            }
        }

        .add-voucher-btn{
            background-color: #101820;
            color: #FFF;
            height: 48px;
            max-width: 278px;
            width: 100%;
            margin-top: 25px;
        }
    }
}