.article-item .article-description {
    margin-top: 16px;
}
.article-description .title {
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
}
.article-description .title:hover {
    text-decoration: none;
    color: #101820;
}
.article-description .date {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    color: #101820;
}