.root {
    display: grid;
    gap: 0.5rem;
    justify-items: stretch;
    margin-top: 35px;
}

.buttonContainer {
    margin-top: 40px;
    text-align: center;
    border: 1px solid;
}

.submitButton {
    font-size: 16px;
    font-weight: 500 !important;
    white-space: nowrap;
    text-align: center;
    padding-top: 16px !important;
    cursor: pointer;
    border: 0;
    width: 100%;
    min-width: 200px;
    padding-bottom: 16px !important;
    font-family: Gotham;
    line-height: 16px !important;
    text-transform: uppercase;
    background-color: #101820;
    color: #fff;
}

.submitButton:hover {
    opacity: 0.8;
}

.root span[class *= "requiredSymbol"]{
    display: none !important;
}
.root span[class *= "label"]{
    color: #101820;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase !important;
    padding-bottom: 8px;
}

.root input{
    min-height: 48px;
    padding-left: 16px !important;
    background-color: #f2f2f2;
    min-width: 572px;
    width: 100%;
    border: unset;
}
.root input:focus{
    box-shadow: none;
    border-color: unset;
}
.root p{
    padding-top: 20px;
    position: relative;
}
.root .back{
    width: fit-content;
    border-bottom: 1px solid #101820;
    position: absolute;
    top: 312px;
    left: 139px;
    cursor: pointer;
}
.root .back span{
    height: 18px;
    width: 53px;
    color: #101820;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
}