.coupon-code {
    margin-left: unset !important;
    margin-top: 20px;
    .coupon-code-area-tablet .btn-clear-coupon {
        position: absolute;
        right: 10px;
        top: 12px;
        z-index: 9;
        cursor: pointer;
        max-height: 15px;
    }

    .submit-coupon {
        background-color: #101820 !important;
        color: #FFF !important;
        height: 48px;
    }

    @media (min-width: 1024px) {
        .submit-coupon {
            display: inline-block;
            width: 100px;
        }
        .submit-coupon-rtl{
            margin-right: 8px;
        }
    }
    @media (max-width: 1023px) {
        .submit-coupon {
            width: 100%;
        }
    }
}

/* cart page */
.cart-coupon-form {
    font-size: 16px;
    margin-top: 32px;
    .coupon-close{
        display: none !important;
    }
    .coupon-code-title {
        font-family: 'Gotham Book';
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: 600;
        font-size: 16px;
        svg{
            vertical-align: middle
        }
    }
    .coupon-code-area-tablet {
        margin-top: 8px;
        position: relative;
        vertical-align: bottom;
        display: flex;
        justify-content: space-between;
        input {
            height: 48px;
            background-color: #F2F2F2;
            padding: 10px 25px 11px 16px;
            border: solid 1px #F2F2F2;
            font-size: 14px;
            line-height: 14px;
            width: 59%;
            font-family: "Gotham Book";
        }
    }

    .submit-coupon {
        font-family: 'Gotham Book';
        text-transform: uppercase;
        font-size: 16px;
        width: 39%;
        min-width: 106px;
        padding-top: 14px;
        height: 48px;
    }
    @media (max-width: 1023px) {
        .coupon-code-area-tablet {
            width: 100%;
            input {
                width: 100%;
            }
        }
    }
}
