<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    	<tab id="vnecoms" translate="label" sortOrder="101">
            <label>VNECOMS</label>
        </tab>
        <!-- Credit section -->
        <section id="pagebuilder" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Page Builder</label>
            <tab>vnecoms</tab>
            <resource>Vnecoms_PageBuilder::configuration</resource>
            <group id="general" translate="label tooltip" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="pexels_categories" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	            	<label>Pexels Categories</label>
	            	<comment>Each category in one line.</comment>
	        	</field>
			</group>
		</section>
    </system>
</config>
