<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Vnecoms_VendorsShippingFlatRate" setup_version="2.0.1">
    	<sequence>
    		<module name="Vnecoms_Vendors"/>
    		<module name="Vnecoms_VendorsShipping"/>
    		<module name="Vnecoms_VendorsConfig"/>
    	</sequence>
    </module>
</config>
