<!--@styles
   .example-style { color: green; }
 @-->
<!--@vars {
"var data.name":"Name",
"var data.email":"Email",
"var data.service":"Type Of Service",
"var data.base_url":"Bianca base site",
} @-->
<!--@subject {{trans "Your Request for Cloth Alteration Received"}}  @-->

Dear {{var data.name}},

Greetings of the day from <a href="{{var data.base_url}}" title="Bianca Nera" target="_blank">Bianca Nera</a>

We  have received your request for the alteration for {{var data.service}}. 
Your request number is {{var data.increment_id}} Please refer this number for future communication,
We will contact you soon for further detail.

Keep shopping with Bianca Nera.

Thank You

Team Bianca Nera
