<!--@styles
   .example-style { color: green; }
 @-->
<!--@vars {
"var data.name":"Name",
"var data.email":"Email",
"var data.service":"Type Of Service"
} @-->
<!--@subject {{trans "We got one Clothing Alteration Request."}}  @-->

Dear Team,

One of our clients just made a request for Clothing Alteration. 
Please take a note that {{var data.service}} has been request by Mr/ Ms {{var data.name}}

Make all the necessary arrangements and proceed with the orders by coordinating with the concerned departments.

Stay Focused.

Cheers 

