$color1: "#101820";
$color2: "#727272";

.product-detail-root {
    display: flex;
    flex-wrap: wrap;

    .detail-top{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        .top-col{
            .image-carousel {
                margin: 0;
                margin-top: 7px;
                max-width: 572px;
                min-width: 100%;
                max-height: 593px;
                .product-carousel{
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    .carousel.carousel-slider{
                        width: 100px;
                        .slider-wrapper{
                            .slider{
                                .slide{
                                    background: #fff;
                                }
                            }
                        }
                    }
                    .carousel{
                        width: 98px;
                        .thumbs-wrapper{
                            margin: 0;
                            margin-right: 16px;
                            .control-arrow{
                                display: none;
                            }
                            .thumbs{
                                transform: none!important;
                                display: flex;
                                flex-direction: column;
                                overflow-y: scroll;
                                min-height: 103px;
                                max-height: 593px;
                                flex-wrap: nowrap;
                                flex-shrink: unset;
                                flex-grow: unset;
                                flex-flow: wrap;
                                margin-right: 16px;
                                width: 100%;
                                .thumb{
                                    margin: 0;
                                    margin-bottom: 16px;
                                    width: 88px;
                                    box-sizing: border-box;
                                    padding: 0px;
                                    border: 1px solid #fff;
                                    &.selected{
                                        border: 1px solid #101820;
                                    }
                                    > img{
                                        width: 82px;
                                        max-height: 103px;
                                    }
                                }
                            }
                        }
                    }
                }
                .simi-react-image-video-container > div{
                    position: fixed !important;
                    z-index: 999;
                }
            }
            > .title, .main-actions{
                margin: 0;
                max-width: 572px;
                min-width: 100%;
                margin-left: 16px;
                padding: 0px;
                .product-name{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: justify;
                    max-width: 364px;
                }
            }
            .main-actions{
                .top-review{
                    color: $color1;
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 500;
                    font-family: 'Gotham Book';
                    .review-btn {
                        font-family: 'Gotham Medium';
                        padding: 0;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            
            @media (max-width: 1023px){
                .image-carousel {
                    width: 100%;
                }
            }
        }
    }

    // .product-carousel .carousel .carousel-status{
    //     display: none;
    // }

    

    .title {
        align-items: center;
        line-height: 1.5;
        padding: 1rem 1.5rem;
        width: 100%;
        margin-bottom: 20px;
    }
    
    @media (min-width: 1024px) {
        .title {
            padding: 1.5rem;
        }
    }
    
    .product-name {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .product-short-desc {
        font-size: 14px;
        font-weight: 400;
        padding: 0 1.5rem;
    }
    
    .main-actions {
        width: 40%;
        min-width: 300px;
    }
    
    @media (max-width: 1023px){
        .main-actions {
            width: 100%;
        }
    }
    .top-review {
        padding: 1rem 1.5rem 0 1.5rem;
    }
    .product-price {
        padding: 0 1.5rem;
        padding-bottom: 15px;
    }
    
    .cart-actions {
        padding: 1rem 1.5rem;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .product-quantity {
        display: flex;
        font-size: 17px;
        width: 25%;
    }
    
    .product-quantity input{
        padding: 10px;
        border: solid #eaeaea 1px;
        width: 100%;
        text-align: center;
    }
    
    .add-to-cart-ctn {
        width: 100%;
        min-width: 200px;
    }
    
    .add-to-cart-btn {
        width: 100%;
        padding: 12px;
    }
    .wishlist-actions {
        padding: 0 1.5rem 1rem;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }
    .add-to-wishlist-btn {
        width: 100%;
    }
    .social-share {
        padding: 0 1.5rem 1rem;
    }
    .description {
        margin-top: 15px;
        width: 100%;
        border-top: solid #eaeaea 1px;
        padding: 1.5rem;
    }
    .techspec {
        margin-top: 15px;
        width: 100%;
        border-top: solid #eaeaea 1px;
        padding: 1.5rem;
    }
    .review-list {
        margin-top: 15px;
        padding: 1.5rem;
        width: 100%;
        border-top: solid #eaeaea 1px;
        margin-bottom: 25px;
    }
    .new-review {
        margin-top: 15px;
        padding: 1.5rem;
        width: 100%;
        border-top: solid #eaeaea 1px;
        margin-bottom: 25px;
    }
}
