$color1: #101820;
$color2: #727272;

.product-detail-root {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    .detail-top{
        width: 100%;
        padding-bottom: 85px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        @media (min-width: 1024px){
            .col-left {
                min-width: 572px;
            }
        }
        .top-col{
            .image-carousel {
                margin: 0;
                margin-top: 7px;
                max-width: 572px;
                min-width: 100%;
                max-height: 593px;
                .product-carousel{
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    .carousel.carousel-slider{
                        width: 100px;
                        .slider-wrapper{
                            .slider{
                                .slide{
                                    background: #fff;
                                }
                            }
                        }
                    }
                    .carousel{
                        width: 98px;
                        .thumbs-wrapper{
                            margin: 0;
                            margin-right: 16px;
                            .control-arrow{
                                display: none;
                            }
                            .thumbs{
                                transform: none!important;
                                display: flex;
                                flex-direction: column;
                                min-height: 103px;
                                max-height: 593px;
                                flex-wrap: nowrap;
                                flex-shrink: unset;
                                flex-grow: unset;
                                flex-flow: wrap;
                                margin-right: 16px;
                                width: 100%;
                                overflow-y: auto;
                                /* width */
                                &::-webkit-scrollbar {
                                    width: 3px;
                                }
                                &::-webkit-scrollbar * {
                                    background: transparent;
                                }
                                &::-webkit-scrollbar-track-piece {
                                    background: transparent!important;
                                }
                                /* Track */
                                &::-webkit-scrollbar-track {
                                    background: #7272722b;
                                }
                                /* Handle */
                                &::-webkit-scrollbar-thumb {
                                    background: #10182080;
                                    border-radius: 5px;
                                }
                                /* Handle on hover */
                                &::-webkit-scrollbar-thumb:hover {
                                    background: #101820db;
                                }
                                .thumb{
                                    margin: 0;
                                    margin-bottom: 16px;
                                    width: 88px;
                                    box-sizing: border-box;
                                    padding: 0px;
                                    border: 1px solid #fff;
                                    &.selected{
                                        border: 1px solid #101820;
                                    }
                                    > img{
                                        width: 82px;
                                        max-height: 103px;
                                    }
                                    &:last-child{
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                .simi-react-image-video-container > div{
                    position: fixed !important;
                    z-index: 999;
                }
            }
            > .title, .main-actions{
                margin: 0;
                max-width: 572px;
                min-width: 100%;
                margin-left: 16px;
                padding: 0px;
                @media (max-width: 497px){
                    margin-left: 0px;
                }
                .product-name{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    // text-align: justify;
                    max-width: 365px;
                    @media (max-width: 1199px){
                        margin-top: 20px;
                    }
                    @media (max-width: 546px){
                        max-width: 100%;
                        margin-right: 14px;
                    }
                }
            }
            .main-actions{
                .vendor-name{
                    font-family: 'Gotham Medium';
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 24px;
                }
                .product-price{
                    .prices-container{
                        .prices-layout{
                            margin-top: 0;
                            .price-configurable, .price-simple{
                                .product-prices{
                                    display: flex;
                                    flex-wrap: wrap;
                                    .price{
                                        font-size: 32px;
                                        line-height: 32px;
                                        font-family: 'Gotham Medium';
                                        font-weight: 500;
                                        margin-top: 24px;
                                        display: inline-block;
                                    }
                                    .regular{
                                        .price{
                                        }
                                    }
                                    .special{
                                        .price{
                                            color: $color2;
                                            font-family: 'Gotham Book';
                                            text-decoration: line-through;
                                            margin-left: 32px;
                                            padding-top: 0;
                                            @media (max-width: 546px){
                                                margin-left: 0px;
                                            }
                                        }
                                        .label{display: none;}
                                        .sale_off{display: none;}
                                    }
                                }
                            }
                            .price-simple{
                                .product-prices{
                                    display: flex;
                                    .price{
                                        font-size: 32px;
                                        line-height: 32px;
                                        font-family: 'Gotham Medium';
                                        font-weight: 500;
                                        margin-top: 24px;
                                        display: inline-block;
                                        // padding-top: 10px;
                                        // margin-bottom: -10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .product-short-desc{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    // text-align: justify;
                    margin-top: 24px;
                    max-width: 350px;
                    .deposit{
                        margin-top: 6px;
                    }
                }
                .options{
                    .option-root{
                        margin: 0;
                        margin-top: 22px;
                        &:first-child{
                            margin-top: 24px;
                        }
                        .option-title{
                            margin-bottom: 8px;
                        }
                        .list-color{
                            margin-top: -8px;
                            margin-bottom: -8px;
                            margin-left: -8px;
                            margin-right: -8px;
                            >div:nth-child(1){
                                flex-wrap: wrap;
                                max-width: 392px;
                            }
                            .group-options{
                                padding: 8px;
                                .tile-root{
                                    background-color: unset;
                                    box-sizing: border-box;
                                    border: 1px solid #efefef;
                                    margin-right: 0px;
                                    &._selected{
                                        border: 1px solid $color1;
                                        background-color: unset;
                                        img{
                                            width: 81px;
                                            height: 53px;
                                        }
                                    }
                                }
                            }
                        }
                        .list-size{
                            display: flex;
                            align-items: baseline;
                            .option-select{
                                position: relative;
                                .MuiListItem-root{
                                    padding-top: 17px;
                                    padding-bottom: 17px;
                                    padding-left: 16px;
                                    padding-right: 16px;
                                    width: 376px;
                                    height: 48px;
                                    @media (max-width: 497px){
                                        width: 306px;
                                    }
                                    @media (max-width: 375px){
                                        width: 250px;
                                    }
                                    .MuiListItemText-root{
                                        margin: 0;
                                        .choose-your-size{
                                            font-family: 'Gotham Book';
                                            font-size: 14px;
                                            line-height: 14px;
                                            color: $color2;
                                        }
                                    }
                                }
                                .MuiCollapse-container{
                                    position: absolute;
                                    top: 48px;
                                    z-index: 999;
                                    width: 100%;
                                    .MuiList-root{
                                        >ul li{
                                            list-style: none;
                                            padding: 8px;
                                            padding-left: 16px;
                                            padding-right: 16px;
                                            font-weight: 500;
                                            font-family: 'Gotham Book';
                                            &._selected{
                                                background-color: #101820;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                            .size-guide{
                                margin-left: 16px;
                                align-items: center;
                                display: flex;
                                @media (max-width: 497px){
                                    margin-left: 5px;
                                }
                                button{
                                    font-size: 12px;
                                    line-height: 12px;
                                    font-weight: 500;
                                    display: inline-flex;
                                    align-items: center;
                                }
                                svg{fill: $color1!important;}
                            }
                        }
                    }
                }
                .cart-actions{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 24px;
                    .cart-ctn{
                        .btn{
                            font-size: 12px;
                            line-height: 12px;
                            font-family: Gotham;
                            font-weight: 500;
                            text-transform: uppercase;
                            padding: 0;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: unset;
                            height: unset;
                            min-width: 145px;
                            min-height: 36px;
                            margin-right: 16px;
                            border: none;
                            border-radius: 0;
                            outline: none;
                            box-shadow: none;
                            &.btn__black{
                                background-color: $color1;
                                color: #fff;
                            }
                            &.btn__white{
                                border: none;
                                background-color: #E4E4E4;
                                color: $color1;
                            }
                        }
                    }
                    .action-icon{
                        width: 16px;
                        height: 36px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        button{
                            height: 16px;
                            svg{
                                fill: $color1!important;
                            }
                        }
                        &.wishlist-actions{
                            margin-right: 16px;
                        }
                    }
                }
                .social-share{
                    margin-top: 34px;

                }
            }
            
            @media (max-width: 1023px){
                .image-carousel {
                    width: 100%;
                }
            }
        }
    }

    .main-info{
        padding-top: 50px;
        border-top: 1px solid $color2;
        width: 100%;
        .tabs{
            .tab-list{
                border: none;
                border-bottom: none;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                li.tab-list-item{
                    color: $color2;
                    font-size: 24px;
                    line-height: 24px;
                    font-family: 'Gotham Book';
                    padding: 10px 30px;
                    text-transform: uppercase;
                    &.tab-list-active{
                        color: $color1;
                        font-weight: 600;
                        border: none;
                    }
                }
            }
            .tab-content{
                padding-top: 28px;
                padding-bottom: 60px;
                color: $color1;
                font-size: 16px;
                line-height: 24px;
                font-family: 'Gotham Book';
                text-align: justify;
                .description{
                    .description-title{display: none;}
                    .description-content{
                        text-align: justify;
                        p:nth-child(n+2){
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .linked-product-ctn{
        margin: 0;
        margin-top: 0px;
        padding: 0;
        padding-top: 60px;
        padding-bottom: 100px;
        border-top: 1px solid $color1;
        .title{
            width: 100%;
            margin-bottom: 32px;
            text-align: center;
            span{
                font-family: Didot;
                font-size: 24px;
                line-height: 24px;
                color: $color1;
                display: inline-block;
            }
        }
        .linked-products{
            text-align: center;
            .linked-product-item{
                display: inline-grid;
                padding: 0px;
                width: 278px;
                min-height: 488px;
                .siminia-product-grid-item{
                    width: 278px;
                    .siminia-product-image{
                        height: 348px;
                        background-color: $color2!important;
                        outline: none;
                        img{
                            object-fit: cover!important;
                        }
                    }
                }
            }
            .chevron-left, .chevron-right{
                width: 24px!important;
                height: 24px!important;
                color: $color1!important;
                // margin-right: 10px;
                // margin-left: 10px;
                align-self: flex-start;
                margin-top: 174px;
            }
        }
    }
}
#reserve-modal{
    max-width: 672px;
    min-height: 348px;
    height: auto;
    color: #101820;
    font-size: 14px;
    font-family: 'Gotham Book';
    text-align: center;
    position: relative;
    padding-bottom: 32px;
    padding-top: 24px;
    #reserve-modal-close{
        position: absolute;
        top: 24px;
        right: 32px;
        width: 16px;
        height: 16px;
    }
    .reserve-modal-content{
        .modal-title{
            width: 100%;
            text-align: center;
            h2{
                font-size: 24px;
                line-height: 24px;
                padding: 0px;
                padding-top: 5px;
                margin: 0px;
                margin-bottom: -12px;
                margin-top: 0;
                font-family: 'Gotham Medium';
            }
        }
        .modal-header{
            padding: 0px;
            border-bottom: unset;
            margin-top: 24px;
            p{
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
            }
        }
        .modal-body{
            position: relative;
            display: block;
            margin-top: 30px;
            padding: 0px;
            .locations-select{
                text-align: left;
                width: 100%;
                max-width: 376px;
                margin: 0 auto;
                label{
                    text-transform: uppercase;
                    font-size: 10px;
                    line-height: 10px;
                    font-family: 'Gotham Medium';
                    font-weight: 500;
                    display: block;
                    padding-top: 3px;
                    margin-bottom: -5px;
                }
                .option-select{
                    background-color: #F2F2F2;
                    width: 100%;
                    height: 48px;
                    position: relative;
                    margin-top: 8px;
                    &:before{
                        content: "\e93a";
                        font-size: 16px;
                        font-family: 'Linearicons', 'Simple Linearicons';
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        font-feature-settings: "liga";
                        position: absolute;
                        top: 16px;
                        right: 16px;
                    }
                }
                select{
                    width: 100%;
                    height: 48px;
                    color: $color2;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: none;
                    padding: 10px;
                    border: none;
                    font-weight: 500;
                    position: absolute;
                    cursor: pointer;
                }
                .error{color: #b91c1c;font-size: 12px;text-align: right;}
            }
            .submit-btn{
                background-color: #101820;
                margin: 0 auto;
                margin-top: 66px;
                max-width: 180px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                span{
                    text-transform: uppercase;
                    font-family: 'Gotham Medium';
                    color: #fff;
                    font-size: 16px;
                    line-height: 16px;
                }
            }
            .reserve-error{
                color: #b91c1c;
            }
        }
    }
}
#reserve-modal-message{
    margin-top: 10%;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
    padding-top: 20px;
    padding-right: 30px;
    #reserve-modal-close{
        top: 6px;
        right: 8px;
        svg{
            width: 12px;
            height: 12px;
        }
    }
}
#error-modal-overlay{
    background: #f2f2f280;
    #error-modal{
        max-width: 604px;
        min-height: 68px;
        top: 50%;
        margin-top: -34px;
        padding: 14px 16px;
        background-color: #B91C1C;
        color: #FFF;
        .error-wrap{
            display: inline-flex;
            .message{
                font-family: 'Gotham Book';
                font-size: 12px;
                line-height: 20px;
            }
            .go-checkout-text{
                font-family: 'Gotham Medium';
                font-size: 16px;
                line-height: 16px;
                min-width: 153px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                a,a:hover,a:active,a:focus,a:visited{
                    outline: none;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}