.simi-input-select{
    position: relative;
    background-color: #f2f2f2;
    min-height: 48px;
    .icon{
        position: absolute;
        width: 16px;
        height: 16px;
        right: 16px;
        top: calc(50% - 8px);
        svg{
            fill: #101820 !important;
            width: 16px!important;
            height: 16px!important;
        }
    }
    .input-display{
        width: 100%;
        min-height: 48px;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        padding: 10px;
        .placeholder{
            width: 100%;
            height: 100%;
            color: #727272;
            display: inline-flex;
            align-items: center;
        }
    }
    .simi-simple-input-select{
        position: absolute;
        background: #fff;
        z-index: 999;
        top: 48px;
        left: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
        max-height: 200px;
        box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
        .input-option{
            padding: 10px 16px;
            background-color: #f2f2f2;
            color: #101820;
            &:hover{
                background-color: #e4e4e4;
            }
            &.selected{
                background-color: #bdbdbd;
            }
        }
    }
}