<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Store Information Section -->
        <section id="general">
            <group id="locale" showInDefault="0">
			</group>
		</section>
    </system>
</config>
