$color1: #101820;
.home-wrapper{
    .btn {
        min-width: 145px;
        min-height: 36px;
        background-color: #101820;
        margin: 0 auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: Gotham;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFF;
        text-transform: uppercase;
        border-radius: unset;
    }
    h3.title{
        font-family: Didot;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: #000;
        margin-top: 80px;
        margin-bottom: 32px;
        @media (max-width: 1023px){
            font-size: 20px;
        }
    }
    .banner-wrap{
        .banner-homepage{
            .home-container{
                .carousel-slider{
                    margin-top: 44px;
                    .control-dots{
                        position: relative;
                        .dot{
                            width: 10px;
                            height: 10px;
                            border: 1px solid $color1;
                            box-shadow: none;
                            margin: 0 7px;
                            &.selected{
                                background-color: $color1;
                            }
                        }
                    }
                }
            }
        }
        &.mobile{
            .banner-homepage{
                .home-container{
                    .carousel-slider{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .shop-by-brand-wrap{
        h3.title{
            margin-top: 70px;
            margin-bottom: 32px;
        }
        &.mobile{
            .brand-slider{
                margin-top: 13px;
                .scroller{
                    .left-chevron-wrapper{
                        top: -80px;
                        left: -8px;
                    }
                    .right-chevron-wrapper{
                        top: -80px;
                        right: -8px;
                    }
                    .left-chevron-wrapper, .right-chevron-wrapper{
                        svg{
                            width: 16px!important;
                            height: 16px!important;
                        }
                    }
                }
            }
        }
    }
    .featured-products-wrap{
        .default-home-product-list{
            .product-list {
                margin-top: 15px;
                padding: 0;
                width: 100%;
                .title {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                .linked-products {
                    width: 100%;
                }
                .linked-product-item {
                    min-width: 140px;
                    display: inline-grid;
                    padding: 5px;
                    width: 25%;
                }
                @media (max-width: 1023px) {
                    .linked-product-item {
                        width: 50%;
                    }
                }
                .product-horizotal .siminia-product-grid-item{
                    @media (min-width: 1440px){
                        width: 278px;
                    }
                    .siminia-product-des{
                        margin: 0;
                        flex-direction: column;
                        border: 1px solid #808080;
                    }
                }
            }
        }
        &.mobile{
            .default-home-product-list{
                .product-list{
                    .left-chevron-wrapper{
                        height: 32px;
                        top: -50px;
                        left: -3px;
                    }
                    .right-chevron-wrapper{
                        height: 32px;
                        top: -50px;
                        right: -3px;
                    }
                }
            }
        }
    }
    .popular-categories-wrap{
        .home-container{
            .home-cate-item{
                margin: 64px auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                .cate-img{
                    cursor: pointer;
                    max-width: 572px;
                    flex: 1 0;
                    flex-basis: 60%;
                    text-align: center;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    @media (max-width: 1024px){
                        width: auto;
                        max-width: unset;
                        flex-basis: 100%;
                    }
                }
                .cate-title{
                    font-family: Didot;
                    font-size: 24px;
                    line-height: 24px;
                    font-weight: 600;
                    color: $color1;
                    max-width: 200px;
                    flex: 0 1;
                    flex-basis: 20%;
                    text-align: center;
                }
                .cate-btn{
                    flex: 0 1;
                    flex-basis: 20%;
                    text-align: center;
                    margin: 10px;
                    .btn{
                        min-width: 145px;
                        min-height: 36px;
                        background-color: $color1;
                        margin: 0 auto;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Gotham;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 12px;
                        color: #FFF;
                        text-transform: uppercase;
                        border-radius: unset;
                    }
                }
                &.full-width{
                    max-width: unset;
                    .cate-img{width: 100%;max-width: 100%;}
                    .cate-title{display:none;}
                    .cate-btn{display:none;}
                }
            }
        }
    }
    .new-collections-wrap{
        .newcollections{
            .collections-wrap{
                .item{
                    .collections-images{
                        margin-top: 32px;
                        img{
                            width: 100%;
                        }
                        .img-row-2{
                            display: flex;
                            justify-content: space-between;
                            .img-col-1{
                                flex: 1 1 50%;
                                align-items: stretch;
                            }
                            .img-col-2{
                                flex: 1 1 50%;
                                align-items: stretch;
                            }
                        }
                        .img-1{
                            // max-width: 1160px;
                            // max-height: 775px;
                            cursor: pointer;
                        }
                        .img-2{
                            // max-width: 572px;
                            // max-height: 382px;
                            margin-top: 16px;
                            margin-right: 8px;
                            cursor: pointer;
                        }
                        .img-3{
                            // max-width: 572px;
                            // max-height: 382px;
                            margin-top: 16px;
                            margin-right: 8px;
                            cursor: pointer;
                        }
                        .img-4{
                            // max-width: 572px;
                            // max-height: 780px;
                            margin-top: 16px;
                            margin-left: 8px;
                            cursor: pointer;
                        }
                        @media (min-width: 1920px){
                            .img-row-2{
                                .img-2{
                                    margin-top: 20px;
                                }
                                .img-3{
                                    margin-top: 20px;
                                }
                                .img-4{
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                    &.phone-view{
                        margin-top: 20px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .img-row-2{
                            .img-col-1{
                                flex: 1 1 50%;
                                align-items: stretch;
                                display: flex;
                                flex-direction: column;
                                .img-2, .img-3{
                                    flex: 1 1;
                                }
                            }
                            .img-col-2{
                                flex: 1 1 50%;
                                align-items: stretch;
                            }
                        }
                        .img-2,.img-3{
                            margin-top: 12px;
                            margin-right: 6px;
                        }
                        .img-4{
                            margin-top: 0;
                            margin-left: 6px;
                            padding-top: 12px;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .shop-by-designers-wrap{
        .brand-slider{
            .title{
            }
            .scroller{
                .items-wrapper{
                    .item-wrapper{
                        .item{
                            width: 180px;
                            height: 180px;
                            .img-responsive{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .last-items{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                        }
                    }
                }
            }
            &.phone-view{
                .title{
                    margin-bottom: 19px;
                }
                .scroller{
                    .items-wrapper{
                        .item-wrapper{
                            .item{
                                width: 104px;
                                height: 104px;
                            }
                            .last-items{
                                .btn{
                                    min-width: 92px;
                                }
                            }
                        }
                    }
                    .left-chevron-wrapper{
                        position: absolute;
                        top: -45px;
                        left: 0;
                        margin-right: -15px;
                        height: 27px;
                        .chevron-left{
                            width: 16px!important;
                            height: 16px!important;
                        }
                    }
                    .right-chevron-wrapper{
                        position: absolute;
                        top: -45px;
                        right: 0;
                        margin-left: -15px;
                        height: 27px;
                        .chevron-right{
                            width: 16px!important;
                            height: 16px!important;
                        }
                    }
                }
            }
        }
    }
    .shop-our-instagram-wrap{
        .instagram-block{
            width: 100%;
            margin-top: 27px;
            padding-bottom: 100px;
            .block-inner{
                display: flex;
                flex-direction: row;
                .ins-item{
                    margin: 0 8px;
                    width: 166px;
                    height: 208px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    &:first-child{
                        margin-left: 0px;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                    img{
                        object-fit: contain;
                        width: auto;
                        height: 208px;
                    }
                }
            }
            .view-all{
                text-align: center;
                .btn{
                    margin-top: 32px;
                }
            }
        }
        &.mobile{
            .instagram-block{
                margin-top: 15px;
                padding-bottom: 126px;
                .block-inner{
                    .ins-item{
                        margin: 0 6px;
                        width: 65px;
                        height: 80px;
                        &:first-child{
                            margin-left: 0px;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
                .view-all{
                    .btn{
                        margin-top: 12px;
                        min-width: 107px;
                        min-height: 29px;
                        font-size: 10px;
                        line-height: 10px;
                    }
                }
            }
        }
    }
    // for mobile only
    .mobile{
        h3.title{
            margin-top: 30px;
            margin-bottom: 0px;
        }
    }
}