$color1: #101820;
.home-wrapper{
    h3.title{
        padding-top: 5px;
        margin-bottom: -5px;
    }
    .shop-by-designers-wrap{
        .brand-slider{
            &.phone-view{
                .title{margin-bottom: 14px;}
            }
        }
    }
}