.gift-voucher-checkout {
    .gift-voucher-area {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        #checkout_voucher_field {
            width: 65%;
            height: 45px;
            border: solid 1px rgba(51,49,50,0.4);
            border-radius: 0px;
            padding: 3px 16px 0px 16px;
        }
        #submit-voucher {
            margin-top: 0px;
            min-width: 100px;
            height: 45px;
            font-family: 'Gotham Book';
            text-transform: uppercase;
        }
    }

    @media (max-width: 1023px) {
        .gift-voucher-area {
            #checkout_voucher_field {
                width: 100%;
            }
            #submit-voucher {
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}