<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simibooking>
            <version>0.1.0</version>
        </Simi_Simibooking>
    </modules>
    <frontend>
        <routers>
            <simibooking>
                <use>standard</use>
                <args>
                    <module>Simi_Simibooking</module>
                    <frontName>simibooking</frontName>
                </args>
            </simibooking>
        </routers>
        <layout>
            <updates>
                <simibooking>
                    <file>simibooking.xml</file>
                </simibooking>
            </updates>
        </layout>
		<translate>
            <modules>
                <Simi_Simibooking>
                    <files>
                        <default>Simi_Simibooking.csv</default>
                    </files>
                </Simi_Simibooking>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<simibookingadmin>
				<use>admin</use>
				<args>
					<module>Simi_Simibooking</module>
					<frontName>simibookingadmin</frontName>
				</args>
			</simibookingadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<simibooking>
					<file>simibooking.xml</file>
				</simibooking>
			</updates>
		</layout>
		<translate>
            <modules>
                <Simi_Simibooking>
                    <files>
                        <default>Simi_Simibooking.csv</default>
                    </files>
                </Simi_Simibooking>
            </modules>
        </translate>
    </adminhtml>

    <global>
        <models>
            <simibooking>
                <class>Simi_Simibooking_Model</class>
                <resourceModel>simibooking_mysql4</resourceModel>
            </simibooking>
            <simibooking_mysql4>
                <class>Simi_Simibooking_Model_Mysql4</class>
                <entities>
                    <simibooking>
                        <table>simibooking</table>
                    </simibooking>
                </entities>
            </simibooking_mysql4>
        </models>
        <resources>
            <simibooking_setup>
                <setup>
                    <module>Simi_Simibooking</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simibooking_setup>
            <simibooking_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simibooking_write>
            <simibooking_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simibooking_read>
        </resources>
        <blocks>
            <simibooking>
                <class>Simi_Simibooking_Block</class>
            </simibooking>
        </blocks>
        <helpers>
            <simibooking>
                <class>Simi_Simibooking_Helper</class>
            </simibooking>
        </helpers>
        <events>
            <connector_catalog_get_product_detail_product_detail>
                <observers>
                    <simibooking_get_product_options>
                        <type>singleton</type>
                        <class>simibooking/observer</class>
                        <method>changeProductOptions</method>
                    </simibooking_get_product_options>
                </observers>
            </connector_catalog_get_product_detail_product_detail>
			
			<checkout_cart_add_product_before_save>
                <observers>
                    <simibooking_add_parram_cart>
                        <type>singleton</type>
                        <class>simibooking/observer</class>
                        <method>addParramsAddToCart</method>
                    </simibooking_add_parram_cart>
                </observers>
            </checkout_cart_add_product_before_save>
        </events>
    </global>
</config>