<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simicustomsize>
            <version>0.1.0</version>
        </Simi_Simicustomsize>
    </modules>
    <frontend>
        <routers>
            <simicustomsize>
                <use>standard</use>
                <args>
                    <module>Simi_Simicustomsize</module>
                    <frontName>simicustomsize</frontName>
                </args>
            </simicustomsize>
        </routers>
		 
    </frontend>

    <global>
		<models>
            <simicustomsize>
                <class>Simi_Simicustomsize_Model</class>
            </simicustomsize>
        </models>
        <blocks>
            <simicustomsize>
                <class>Simi_Simicustomsize_Block</class>
            </simicustomsize>
        </blocks>
        <helpers>
            <simicustomsize>
                <class>Simi_Simicustomsize_Helper</class>
            </simicustomsize>
        </helpers>
		<events>
           <connector_customer_sign_in_return>
                <observers>
                    <get_customer_profiles>
                        <type>singleton</type>
                        <class>simicustomsize/observer</class>
                        <method>getCustomerProfiles</method>
                    </get_customer_profiles>
                </observers>
            </connector_customer_sign_in_return>
			<connector_catalog_get_product_detail_return>
                <observers>
                    <simicustomsize_get_product_detail_return>
						<type>singleton</type>
                        <class>simicustomsize/observer</class>
                        <method>changeProductDetailReturn</method>
                    </simicustomsize_get_product_detail_return>
                </observers>
            </connector_catalog_get_product_detail_return>
			
			<checkout_cart_add_product_before_save>
                <observers>
                    <simicustomsize_add_parram_cart>
                        <type>singleton</type>
                        <class>simicustomsize/observer</class>
                        <method>changeRequestInfo</method>
                    </simicustomsize_add_parram_cart>
                </observers>
            </checkout_cart_add_product_before_save>
			
			<checkout_cart_add_product_complete>
                <observers>
                    <simicustomsize_observer>
                        <type>singleton</type>
                        <class>simicustomsize/observer</class>
                        <method>checkoutCartAddProductComplete</method>
                    </simicustomsize_observer>
                </observers>
            </checkout_cart_add_product_complete>
			
			<connector_config_get_store_view_return>
                <observers>
                    <get_config_return>
                        <type>singleton</type>
                        <class>simicustomsize/observer</class>
                        <method>changeConfigReturn</method>
                    </get_config_return>
                </observers>
            </connector_config_get_store_view_return>
        </events>
    </global>
</config>