<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendors>
        	<design>
        		<default_language>en_US</default_language>
        	</design>
        </vendors>
    </default>
</config>
