<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vnecoms_VendorsConfigApproval::pending_config" title="Pending Vendor Config" sortOrder="998" module="Vnecoms_VendorsConfigApproval" parent="Vnecoms_Vendors::marketplace" action="vendors/config_pending"  dependsOnModule="Vnecoms_VendorsConfigApproval" resource="Vnecoms_VendorsConfigApproval::pending_config"/>
    </menu>
</config>