<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vendors">
            <group id="design">
                <field id="default_language" translate="label tooltip comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Language</label>
                    <source_model>Vnecoms\VendorsLanguage\Model\Source\Language</source_model>
                </field>
                <field id="locale_restriction" translate="label tooltip comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Locale Restriction</label>
                    <source_model>Vnecoms\VendorsLanguage\Model\Source\Language</source_model>
                    <tooltip>Select locale which you DON'T want vendor to use.</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
