<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="simi_simiconnector_model_server_initialize">
        <observer name="simi_simistorelocator_change_resource" instance="Simi\Simistorelocator\Observer\SimiSimiconnectorModelServerInitialize"/>
    </event>
</config>