/*
Product option tablet - downloadable products
 */

.product-options-tablet {
    padding-top: 10px;
    padding-bottom: 10px;
}
.product-options-tablet .option-title{
    font-size: 22px;
    font-weight: 600;
}
.product-options-tablet .option-content ul {
    border: none;
}
.product-options-tablet .child-li-label {
    margin-left: 20px;
    font-size: 20px;
}
.product-options-tablet .price {
    font-size: 20px;
}
#grouped .product-stock-status {
    text-align: left;
    margin-right: auto;
    margin-left: 0;
}
.option-label.selected {
    border: 2px solid rgba(255, 0, 0, 0.38) !important;
    /*padding: 0 !important;*/
}
.option-label.text.selected {
    border: none !important;
}
.option-label .label-line {
    height: 5px;
    background: #f6c3c4;
    position: absolute;
    z-index: 2;
    width: 90%;
    top: 17px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    display: none;
}
.label-line .line{
    height: 1px;
    background: #ff0000;
    margin-top: 2px;
}
.option-label.disable .label-line{
    display: block;
}
.option-label.active .label-line{
    display: none;
}
.option-label .label-check-selected {
    position: absolute;
    top: 7px;
    left: 0;
    width: 35px;
    display: none;
}
.option-label.selected .label-check-selected {
    display: block;
}
.option-tier-prices {
    font-size:12px;
}
.option-tier-prices span.price {
    font-size:12px !important;
    font-weight: bold;
    margin: 0 2px;
}

.large-device.product #product-options .option-title {
    font-size: 18px;
    display: flex;
    font-weight: 600;
}
.product-options-group-item .option-title {
    height: auto !important;
}
.option-value-item-select {
    margin-top: -10px;
}
.label-option-text {
    color: #333;
}
.bundle-option-qty.select {
    margin-top: 10px;
    margin-bottom: 10px;
}
.option-row {
    white-space: normal;
    line-height: 20px;
}