.gallery-root {
    display: grid;
    grid-template-areas:
        'actions'
        'items';
    grid-template-columns: 1fr;
    line-height: 1;
}

.gallery-items {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

@media (max-width: 1279px) {
    .gallery-items {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media(min-width: 1280px){
    
}
@media(max-width: 1279px) {

}
