.store-locator-ctn {
    .back-store-btn {
        margin-top: -35px;
        font-size: 16px;
        line-height: 16px;
        text-align: end;
        text-transform: uppercase;
        font-family: "Gotham Book";
        font-weight: 600;
        height: 10px;
        margin-bottom: 25px;
        cursor: pointer;
    }
    /* list view */
    .list-results-box-content {
        background-color: #101820;
        padding: 24px 24px 25px;
    }
    .branch-search-box-rs {
        .title {
            color: #ffffff;
            font-size: 21px;
            line-height: 29px;
            font-weight: bold;
            margin: 0 16px 0 0;
        }
        .branch-form-group {
            align-items: center;
            justify-content: center;
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    
    .branch-main-content {
        display: flex;
        justify-content: flex-end;
        margin-top: -1px;
        margin-bottom: 31px;
        width: 100%;

        .branch-list-results {
            margin-left: 16px;
            max-width: 572px;
            .MuiExpansionPanel-root {
                padding: 15px 26px;
                border: solid 1px #E0E0E0;
                border-radius: 0px;
                .MuiExpansionPanelDetails-root {
                    padding: 0px;
                }
                .MuiButtonBase-root {
                    margin-right: -8px;
                    font-size: 16px;
                    padding: 6px;
                }
            }  
            .store-image-gallery {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 16px;
                margin-top: 16px;
                grid-row-gap: 16px;
                .store-image-item {
                    background-size: contain;
                    background-position: center;
                    padding-top: 109%;
                    background-repeat: no-repeat;
                }
            }
        }
        .branch-list-results::-webkit-scrollbar { 
            display: none;
        }
        .branch-map{
            width: 49.5%;
            overflow: hidden;
            .marker-pin {
                width: 30px;
                height: 30px;
                border-radius: 50% 50% 50% 0;
                background: #00cae9;
                position: absolute;
                transform: rotate(-45deg);
                left: 50%;
                top: 50%;
                margin: -20px 0 0 -20px;
            }
            .marker-:after {
                content: "";
                width: 14px;
                height: 14px;
                margin: 8px 0 0 8px;
                background: #e6e6e6;
                position: absolute;
                border-radius: 50%;
            }
            .detail__direction-map {
                display: flex;
                margin-top: 20px;
                justify-content: space-between;
                .form-group {
                    width: 68.5%;
                    input {
                        border-radius: 0;
                        font-size: 14px;
                        border: none;
                        background-color: #F2F2F2;
                        height: 48px;
                        padding-top: 8px;
                    }
                    input::placeholder {
                        color: #727272;
                    }
                }
                .store_locator_btnSubmit {
                    width: 31.5%;
                    min-width: 180px;
                    background-color: #101820;
                    color: white;
                    font-family: "Gotham Book";
                    text-transform: uppercase;
                    font-size: 16px;
                    padding-top: 12px;
                    height: 48px;
                }
            }
        }
    }
    .branch-title-panel {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        >span {
            display: flex;
            span.branch-name {
                font-size: 20px;
                font-weight: 600;
                line-height: 31px;
                color: #101820;
                align-items: center;
                font-family: "Gotham Book";
                text-transform: none;
            }
            span.count {
                margin-right: 10px;
                display: inline-block;
                text-align: center;
                color: #fff;
                border-radius: 50%;
                background-color: #101820;
                font-size: 16px;
                line-height: 13px;
                height: 30px;
                width: 30px;
                font-family: 'Gotham Book';
                font-weight: 200;
                padding-top: 8px;
            }
        }
    }
    .location-icon{
        margin-left: 8px;
    }
    .branch-content-panel{
        padding-top: 38px;
        display: flex;
        padding-bottom: 11px;
        .column-store-item{
            flex-basis: 217px;
        }
        .column-store-item:not(:first-child){
            margin-left: 44px;
        }

        .detail-branch-btn{
            width: 100px;
            padding: 17px 18px;
            margin-top: 86px;
            height: 50px;
            font-size: 16px;
            background-color: #101820;
            white-space: nowrap;
            text-align: center;
            color: white;
            cursor: pointer;
            text-decoration: none;
            line-height: 16px;
            display: block;
            margin-left: auto;
            font-family: "Gotham Book";
            min-width: 189px;
            text-transform: uppercase;
            font-weight: 300;
        }


        .box-store-br-item{
            font-size: 16px;
            line-height: 24px;
            font-family: "Gotham Book";
            .title{
                margin-bottom: 16px;
                display: block;
            }
            p{
                margin: 0;
                font-family: "Gotham Book";
                font-size: 16px;
            }
            .bold{
                font-weight: bold;
                margin-right: 2px;
            }
            a:hover{
                color: #101820 !important;
            }
        }
        .column-store-item {
            font-size: 16px;
            font-family: "Gotham Book";
            .box-store-br-item:not(:first-of-type){
                margin-top: 32px;
            }
            > .title{
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 16px;
                display: block;
            }
        }
    }
    .store-content-showing-detail {
        .branch-title-panel {
            border: solid 1px #E0E0E0;
            padding: 26px;
            padding-bottom: 0;
            border-bottom: none;
        }
        .branch-content-panel{
            padding: 38px 26px 11px;
            border: solid 1px #E0E0E0;
            border-top: none;
            border-radius: 0px;
        }
    }
    .store-maker.active{
        -webkit-transform: scale(2);
        transform: scale(2);
        transition: transform 0.5s ease-out;
        z-index: 9 !important;
    }
    @media (max-width: 1023px) {
        padding-left: 16px;
        padding-right: 16px;
        .back-store-btn {
            margin-top: -15px;
            font-family: "Gotham Book";
            height: 12px;
            margin-bottom: 0px;
            font-size: 12px;
            line-height: 12px;
            text-decoration: underline;
            font-weight: 600;
        }
        .branch-main-content {
            margin-top: 30px;
            flex-wrap: wrap;
            .branch-map {
                width: 100%;
            }
            .branch-list-results {
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 30px;
                width: 100%;
                max-width: unset;
                .MuiExpansionPanel-root {
                    padding: 10px 16px;
                }
                .branch-title-panel {
                    >span {
                        span.branch-name {
                            font-size: 16px;
                            line-height: 16px;
                            font-family: "Gotham Book";
                            font-weight: 600;
                            padding-top: 6px;
                        }
                        span.count {
                        }
                    }
                }
                .store-image-gallery {
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 11px;
                    margin-top: 16px;
                    grid-row-gap: 11px;
                }
                .MuiExpansionPanel-root {
                    .MuiButtonBase-root {
                        margin-right: -4px;
                    }
                }  
            }
        }
        .branch-content-panel {
            flex-wrap: wrap;
            padding-top: 30px;
            padding-bottom: 10px;
            .column-store-item {
                font-size: 14px;
                line-height: 16px;
                .title {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            .column-store-item:not(:first-child) {
                margin-left: 0px;
                margin-top: 30px;
                .box-store-br-item:not(:first-of-type) {
                    margin-top: 30px;
                }
            }
            .box-store-br-item {
                p {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
            .detail-branch-btn {
                margin-top: 0px;
                margin-left: unset;
                height: 48px;
                font-size: 16px;
                width: 180px;
            }
        }
        .store-content-showing-detail {
            .branch-title-panel {
                padding-top: 10px;
            }
            .branch-content-panel {
                flex-wrap: wrap;
                padding-top: 30px;
                padding-bottom: 10px;
            }
        }
    }
    @media (min-width: 1919px) {
        .branch-main-content {
            .branch-list-results {
                width: 690px;
                max-width: unset;
            }
        }
    }
    
}
.rtl-root {
    .store-locator-ctn {
        .branch-list-results {
            margin-right: 16px;
            margin-left: 0px;
        }
        .branch-title-panel{
            >span {
                span.count {
                    margin-right: 0px;
                    margin-left: 16px;
                }
            }
        }
        .branch-content-panel {
            .column-store-item:not(:first-child) {
                margin-left: 0px;
                margin-right: 44px;
            }
        }
    }
}