.root {
    align-items: center;
    display: grid;
    gap: 1rem;
    column-gap: 15px;
    grid-auto-flow: column;
    grid-template-columns: 60px 1fr;
}

.image {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 2px;
    width: 64px;
    height: 64px;
    border: solid #eaeaea 1px;
    margin-bottom: 5px;
}

.name {
    word-break: break-word;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
}
.price{
    
}