<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="simiconnector_add_payment_method">
        <observer name="Simicustompayment_Simiconnector_Add_Payment_Method"
                  instance="Simi\Simicustompayment\Observer\SimiconnectorAddPaymentMethod" />
    </event>
    <event name="simi_simiconnector_model_server_initialize">
        <observer name="SimiCustomPayment_Simi_Simiconnector_Model_Server_Initialize"
                  instance="Simi\Simicustompayment\Observer\SimiconnectorModelServerInitialize" />
    </event>
    <!-- <event name="simi_simiconnector_model_api_orders_onepage_store_after">
        <observer name="simicustompayment_model_api_orders_onepage_store_after"
                  instance="Simi\Simicustompayment\Observer\SimiconnectorAfterPlaceOrder" />
    </event> -->
</config>