.root {
    display: grid;
    gap: 0.5rem;
    justify-items: stretch;
    margin-top: 35px;
}

.buttonContainer {
    margin-top: 40px;
    text-align: center;
    border: 1px solid;
}

.submitButton {
    font-size: 16px;
    font-weight: 500 !important;
    white-space: nowrap;
    text-align: center;
    padding-top: 16px !important;
    cursor: pointer;
    border: 0;
    width: 100%;
    min-width: 200px;
    padding-bottom: 16px !important;
    font-family: Gotham;
    line-height: 16px !important;
    text-transform: uppercase;
    background-color: #101820;
    color: #fff;
}

.submitButton:hover {
    opacity: 0.8;
}

.root span[class *="requiredSymbol"] {
    display: none !important;
}

.root span[class *="label"] {
    color: #101820;
    font-family: 'Gotham Medium';
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase !important;
    padding-bottom: 8px;
}

.root input {
    min-height: 48px;
    padding-left: 16px !important;
    background-color: #f2f2f2;
    min-width: 572px;
    width: 100%;
    border: unset;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #101820;
}

.root input:focus {
    box-shadow: none;
    border-color: unset;
}

.root p {
    padding-top: 20px;
    position: relative;
}

.root .back {
    width: fit-content;
    border-bottom: 1px solid #101820;
    position: absolute;
    top: 278px;
    left: 139px;
    cursor: pointer;
}

.root .back span {
    height: 18px;
    width: 53px;
    color: #101820;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    text-transform: uppercase;
}

/* right to left */
.rtl-back{
    left: unset !important;
    right: 139px !important;
}
.rtl-rootForm input{
    padding-left: 5px !important;
    padding-right: 16px !important;
}

@media(max-width: 1023px) {
    .root .back {
        top: 130px;
        left: 5%;
    }
    .rtl-back{
        top: 130px;
        right: 5% !important;
    }
}

@media(max-width: 834px) {
    .root div[class *="field-root"] input {
        min-width: unset !important;
    }
    .root .back {
        top: 92px;
    }
    .rtl-back{
        top: 92px;
    }
}

@media(max-width: 640px) {
    .root div[class *="field-root"] input {
        min-width: unset !important;
    }
    .root .back {
        left: 3%;
    }
    .rtl-back{
        left: 3%;
    }
}

@media(max-width: 600px) {
    .root .back {
        /* top: 122px; */
    }
}

@media(max-width: 530px){
    .rtl-back{
        left: 4%;
    }
}

@media(max-width: 450px) {
    .root .back span {
        height: 12px;
        width: 36px;
        font-size: 12px;
        font-weight: 500 !important;
        line-height: 12px;
    }
    .root{
        margin-top: 30px;
    }
    .root span[class *="label"] {
        padding: unset;
        margin-bottom: 8px;
        font-weight: 500 !important;
    }
    
    .root input {
        min-height: 40px;
        font-size: 14px;
        line-height: 14px;
        height: 14px;
    }
    .buttonContainer {
        margin-top: 34px;
        border: unset;
    }
    .buttonContainer button{
        max-width: 249px;
        font-size: 14px;
        line-height: 14px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        border: 1px solid #101820;
    }
}

@media(max-width: 375px) {
    .root .back {
        left: 15px;
    }
}