<div class="vpb-im-pexels-cats-container" data-bind="afterRender: bindPexelsScrollEvent.bind($data)">
	<ul class="vpb-im-pexels-cats">
		<li data-bind="css:{selected:(pexelsSelectedCategory() == 'all')}"><a data-bind="attr:{href: '#all'}, text: $t('All'), click: selectPexelsCategory.bind($data, 'all')"></a></li>
		<!-- ko foreach: {data: pexelsCategories, as: 'category'} -->
		<li data-bind="css:{selected:($parent.pexelsSelectedCategory() == category)}"><a data-bind="attr:{href: '#'+category}, text: category, click: $parent.selectPexelsCategory.bind($parent, category)"></a></li>
		<!-- /ko -->
	</ul>
</div>
<div class="vpb-im-pexels-images" data-bind="afterRender: loadPexelsImages(false)">
	<div class="vpb-pexels-images">
		<!-- ko foreach: {data: pexelsImages(), as: '$file'} -->
		<div class="vpb-file-uploader-summary" data-bind="click: $parent.pexelsImageClick.bind($parent, $file), css: {'vpb-preview-image-left':$index() > 0 && (($index()+1) %8) == 0}">
		    <div class="vpb-file-uploader-preview" data-bind="css: {loading: isLoading()}" afterRender="$parent.loadImage.bind($parent, $file)">
		        <a attr="href: $parent.getFilePreview($file)" data-bind="click: $parent.pexelsImageClick.bind($parent, $file)">
		            <img
		                class="vpb-preview-image"
		                tabindex="0"
		                attr="
		                	src: isLoading()?'data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=':$file.url,
		                    'data-src': $file.url,
		                    alt: $file.url">
		        </a>
		    </div>
		    <div class="vpb-pexels-image-download" data-bind="css: {downloaded: downloadStatus()==2, downloading: downloadStatus()==1}">
		    	<!-- ko ifnot:  downloadStatus()-->
		    	<a href="#" data-bind="click: $parent.downloadPexelImage.bind($parent, $file)"><i class="fa fa-cloud-download"></i></a>
		    	<!-- /ko -->
		    	<!-- ko if:  downloadStatus()==1-->
		    		<i class="fa fa-refresh fa-spin fa-fw"></i>
		    	<!-- /ko -->
		    	<!-- ko if:  downloadStatus()==2-->
		    		<i class="fa fa-check-circle"></i>
		    	<!-- /ko -->
		    </div>
		    
		    <!-- ko if: false -->
		    <!-- Disable for now -->
		    <div class="vpb-file-uploader-filename">
		    	<i class="fa fa-search-plus"></i>
		    	<span data-bind="text: $file.width + 'x' + $file.height"></span>		    	
		    </div>
		    <!-- /ko -->
		    
		    <div class="vpb-pexels-image" afterRender="$parent.loadImage.bind($parent, $file,'url_large', 'isLoadingLarge')">
    			<img
                class="vpb-preview-image"
                tabindex="0"
                attr="
                	src: isLoadingLarge()?'data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=':$file.url_large,
                    'data-src': $file.url_large,
                    alt: $file.url_large">
                <div class="vpb-pexels-image-info">
                	<ul>
                		<li><label data-bind="text: $t('Image Size:')"></label><span data-bind="text: $file.width + 'x' + $file.height"></span></li>
                		<li><label data-bind="text: $t('Author:')"></label><span data-bind="text: $file.author"></span></li>
                	</ul>
                </div>
    		</div>
		</div>
		<!-- /ko -->
		<!-- ko ifnot: pexelsImages().size()-->
			<div class="vpb-im-pexels-no-image" data-bind="html: $t('Sorry, no pictures found!')"></div>
		<!-- /ko -->
		<div class="vpb-im-pexels-loadmore" data-bind="visible: canShowLoadMore()"></div>
	</div>
</div>
<div class="vpb-im-pexels-mask" data-bind="visible: canShowLoading()"></div>
<div class="vpb-im-pexels-loader" data-bind="visible: canShowLoading()"></div>