<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Simi\Simiconnector\Helper\Products" type="\Simi\Simicustomize\Override\Helper\Products" />

    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="simi_cart_total_plugin" type="Simi\Simicustomize\Plugin\CartTotalRepository" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="simi_cart_plugin_checkout_model_cart" type="Simi\Simicustomize\Plugin\Cart" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <plugin name="simi_cart_plugin_quote_item_repository" type="Simi\Simicustomize\Plugin\QuoteItemRepository" />
    </type>
    <type name="Magento\Sales\Model\Convert\Order">
        <plugin name="simi_cart_plugin_sales_model_convert_order" type="Simi\Simicustomize\Plugin\SalesModelConvertOrder" />
    </type>
</config>