<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="simi_simiconnector_model_server_initialize">
        <observer name="Simi_Simicustomize_Simiconnector_Model_Server_Initialize" 
                  instance="Simi\Simicustomize\Observer\SimiconnectorModelServerInitialize" />
    </event>
    <event name="simi_simiconnector_graphql_simi_product_list_item_after">
        <observer name="Simi_Simicustomize_simiconnector_graphql_simi_product_list_item_after"
                  instance="Simi\Simicustomize\Observer\SimiGraphqlListItemAfter" />
    </event>
    <event name="simi_simiconnector_graphql_simi_product_list_after">
        <observer name="Simi_Simicustomize_simiconnector_graphql_simi_product_list_after"
                  instance="Simi\Simicustomize\Observer\SimiGraphqlListAfter" />
    </event>
    <event name="simi_simiconnector_graphql_product_detail_extra_field_after">
        <observer name="Simi_Simicustomize_simiconnector_graphql_product_detail_extra_field_after"
                  instance="Simi\Simicustomize\Observer\SimiGraphqProductDetailExtraFieldAfter" />
    </event>
    <event name="simiconnector_system_rest_modify">
        <observer name="Simi_Simicustomize_simiconnector_system_rest_modify"
                  instance="Simi\Simicustomize\Observer\SimiSystemRestModify" />
    </event>
</config>