.minicart,
.cart-page {
  .empty-cart {
    margin-top: 40px;
    text-align: center;
  }

  .cart-header {
    position: relative;
    margin-top: 35px;
  }

  .cart-header .cart-back-btn {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    max-width: 320px;
    top: 15px;
  }

  .cart-header .cart-back-btn:hover {
    cursor: pointer;
  }
  @media (max-width: 1023px) {
    .cart-header .cart-back-btn {
      display: none;
    }
  }

  .cart-header .cart-back-btn svg {
    transform: rotate(-90deg);
  }

  .cart-header .cart-back-btn span {
    margin-top: 1px;
    margin-left: 5px;
  }

  .cart-header .cart-title {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-weight: 600;
  }

  @media (min-width: 1024px) {
    .cart-header .cart-title {
      text-align: left;
      font-size: 28px;
      text-transform: uppercase;
      height: 24px;
      margin-bottom: 32px;
    }

    .cart-header .cart-title div {
      height: inherit;
    }

    .cart-item-header {
      display: flex;
      height: 50px;
      font-weight: 600;
      font-size: 16px;
      white-space: nowrap;
      width: 100%;
      border-bottom: 1px solid #808080;
    }

    .cart-item-header > div {
      padding: 12px 12.5px;
      font-size: 14px;
      font-weight: 500;
      &:first-child {
        padding-left: 25px;
      }
      &:last-child {
        text-align: right !important;
        padding-right: 25px;
      }
    }
  }
  @media (max-width: 1023px) {
    .cart-header {
      margin-top: 0;
    }

    .cart-header .cart-title {
      display: block;
      font-size: 21px;
      margin-bottom: 15px;
      padding: 0 15px;
    }

    .cart-header .cart-title div {
      display: block;
      margin-top: -5px;
    }

    .cart-header .cart-title svg {
      width: 30px !important;
      height: 30px !important;
    }
  }

  @media (min-width: 1024px) {
    .col-md-6.cart-bottom-left {
      padding: 0;
      padding-top: 40px;
    }
  }

  @media (max-width: 1023px) {
    .col-md-6.cart-bottom-left {
      padding-top: 20px;
    }
  }

  @media (max-width: 1023px) {
    .cart-item-header {
      display: none;
    }
  }

  @media (min-width: 1441px) {
    .container.cart-page {
      .cart-list {
        max-width: unset !important;
        margin-right: 57px;
        .cart-siminia-item {
          max-width: unset !important;
        }
      }
      .cart-item-header > div {
        padding: 12px 18px;
        border-bottom: 1px solid #808080;
        font-size: 14px;
        font-weight: 500;
        &:first-child {
          padding-left: 37px;
          width: 55% !important;
        }

        &:nth-child(2) {
          width: 24% !important;
        }

        &:nth-child(3) {
          width: 15% !important;
        }

        &:last-child {
          text-align: right !important;
          padding-right: 27px;
          width: 20% !important;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .col-md-6.cart-bottom-right {
      padding: 0;
      padding-top: 40px;
    }
  }

  .cart-total {
    margin-top: 20px;
    font-size: 16px;
    color: #333132;
    max-width: 444px;
    margin-left: auto;
  }

  .cart-total .label {
    font-size: 16px;
    color: #333132;
    padding: 0;
    line-height: 24px;
    font-weight: 400;
  }
  .cart-total .grand_total .label {
    font-weight: 600;
  }
  .cart-total > div > div {
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

  @media (min-width: 1024px) {
    .cart-btn-section {
      margin-top: 48px !important;
      max-width: 444px;
      margin: auto;
      text-align: center;

      .go-checkout {
        display: inline-block;
        max-width: 252px;
        background-color: #101820;
        color: #fff;

        span {
          padding: 16px 22px;
          text-transform: uppercase;
        }
      }
    }

    .cart-btn-section .continue-shopping {
      width: 48%;
      display: inline-block;
      max-width: 220px;
    }
  }

  @media (max-width: 1024px) {
    .cart-btn-section {
      margin-top: 20px;
    }

    .cart-btn-section .go-checkout {
      margin-top: 8px;
    }
  }
  @media (max-width: 1023px) {
    .cart-page-siminia {
      padding: 0;
    }
  }
}

.container.cart-page {
  .body {
    .summary-zone {
      .summary-title {
        font-size: 16px;
        color: #101820;
        font-family: 'Gotham Book';
      }
      .summary .grandtotal,
      #go-checkout .siminia-btn {
        font-weight: 500;
      }
    }

    .cart-list-footer {
      font-weight: 600;
    }
  }

  @media (min-width: 1024px) {
    margin-bottom: 334px;
    .body {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .cart-list {
      .cart-list-footer {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        margin-top: 21px;
        font-size: 12px;
      }
    }
  }

  @media (min-width: 1441px) {
    .cart-list {
      max-width: unset !important;
      margin-right: 57px;
      .cart-siminia-item {
        max-width: unset !important;
      }
    }
    .cart-item-header > div {
      padding: 12px 18px;
      border-bottom: 1px solid #808080;
      font-size: 14px;
      font-weight: 500;
      &:first-child {
        padding-left: 37px;
        width: 49% !important;
      }

      &:nth-child(2) {
        width: 20% !important;
      }

      &:nth-child(3) {
        width: 19% !important;
      }

      &:last-child {
        text-align: right !important;
        padding-right: 46px;
        width: 20% !important;
      }
    }
  }

  @media (min-width: 1024px) {
    .cart-list {
      max-width: 726px;
      width: 100%;
    }

    .body {
      .summary-zone {
        margin: 47px 0 0;
        border: 1px solid;
        padding: 32px 43px 58px 40px;
        max-width: 376px;
        width: 100%;
      }

      .summary-zone {
        .summary {
          margin-top: 32px;
          font-weight: 500;
          .subtotal,
          .grandtotal {
            display: flex;
            justify-content: space-between;
          }

          .subtotal {
            font-size: 16px;
            margin-bottom: 32px;
          }

          .grandtotal {
            font-size: 18px;
            line-height: 18px;
            font-family: Gotham Book;
            .grandtotal-price {
              font-family: Gotham Medium;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container.cart-page {
    .cart-page-siminia {
      .cart-title-mobile {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
      }
      .empty-mobile {
        padding: 150px 0 373px;
        svg {
          width: 25px !important;
          height: 25px !important;
        }
        h3 {
          font-size: 16px;
          margin-bottom: 54px;
        }
        button {
          width: 100%;
          span {
            width: 100%;
            min-width: unset;
          }
        }
      }
    }
    .cart-header {
      .cart-title {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 38px;
        text-align: left;
        padding-right: 0;
        padding-left: 0;
      }
    }

    .body {
      .summary-zone {
        background-color: #f8f8f8;
        padding-left: 15px;
        padding-right: 15px;
        .summary-title {
          font-size: 16px;
          margin-top: 32px;
        }
        .grandtotal {
          display: flex;
          justify-content: space-between;
          margin-top: 32px;
          font-size: 20px;
          line-height: 20px;
        }
        .subtotal {
          display: flex;
          justify-content: space-between;
          margin-top: 32px;
          font-size: 16px;
          line-height: 16px;
        }

        .go-checkout {
          border: 1px solid #101820;
          background-color: #101820;
          color: #fff;
          margin-bottom: 30px;
        }
      }
    }
  }
}
