<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Vnecoms_VendorsProductConfigurable" setup_version="2.0.1">
    	<sequence>
    		<module name="Magento_Catalog"/>
    		<module name="Magento_CatalogInventory"/>
    		<module name="Vnecoms_Vendors"/>
    		<module name="Vnecoms_VendorsProduct"/>
			<module name="Magento_ConfigurableProduct" />
			<module name="Magento_Swatches" />
    	</sequence>
    </module>
</config>