<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div attr="id: uid" class="admin__field" visible="visible" css="$data.additionalClasses">
    <div class="admin__field-control" css="'_with-tooltip': $data.tooltip">
        <div id="slider" afterRender="onElementRender" data-bind="foreach: ko.toJSON(value)">
            <div attr="template_id: id" class="owl-carousel-li">
                <img class="lazyOwl" attr="data-src: preview_url, alt: sku"/>
            </div>
        </div>
    </div>
</div>
