<?xml version="1.0"?>
<!--
/**
* Copyright 2019 SimiCart. All rights reserved.
* See LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="simi_vendor_catalog_product_load_after" instance="Simi\VendorMapping\Observer\Catalog\Product\LoadAfterFrontend" />
    </event>
</config>