<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <vendor_multirate>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Vnecoms\VendorsShipping\Model\Carrier\Shipping</model>
                <name>Vendor Shipping</name>
                <title>Multiple Rates</title>
            </vendor_multirate>
        </carriers>
    </default>
</config>
