<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Vnecoms\PdfPro\Api\Data\TemplateInterface" type="Vnecoms\PdfPro\Model\Template" />
    <preference for="Vnecoms\PdfPro\Api\Data\KeyInterface" type="Vnecoms\PdfPro\Model\Key" />

    <virtualType name="Vnecoms\PdfPro\Model\ResourceModel\Key\Grid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ves_pdfpro_key</argument>
            <argument name="eventPrefix" xsi:type="string">pdfpro_key_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">key_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Vnecoms\PdfPro\Model\ResourceModel\Key</argument>
        </arguments>
    </virtualType>

    <virtualType name="Vnecoms\PdfPro\Model\ResourceModel\Template\Grid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ves_pdfpro_template</argument>
            <argument name="eventPrefix" xsi:type="string">pdfpro_template_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">template_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Vnecoms\PdfPro\Model\ResourceModel\Template</argument>
        </arguments>
    </virtualType>

    <!--need this for all list grid in module-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pdfpro_key_listing_data_source" xsi:type="string">Vnecoms\PdfPro\Model\ResourceModel\Key\Grid</item>
                <item name="pdfpro_key_listing_data_source" xsi:type="string">Vnecoms\PdfPro\Model\ResourceModel\Key\Grid</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="KeyGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="KeyGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Vnecoms\PdfPro\Model\ResourceModel\Key\Grid</argument>
            <argument name="filterPool" xsi:type="object" shared="false">KeyGridFilterPool</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Mail\TransportInterfaceFactory">
        <plugin name="pdfpro_emailattachments_transport_factory" type="Vnecoms\PdfPro\Plugin\TransportFactory" disabled="false"/>
    </type>

    <preference for="Vnecoms\PdfPro\Model\Api\MailProcessorInterface"
                type="Vnecoms\PdfPro\Model\MailProcessor"/>

    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin name="pdfpro_emailattachments_transportbuilder" type="Vnecoms\PdfPro\Plugin\TransportBuilder" disabled="false"/>
    </type>

    <!--<preference for="\Magento\Framework\Mail\Template\TransportBuilder"-->
                <!--type="Vnecoms\PdfPro\Model\MailTransportBuilder"/>-->

    <!--<preference for="\Magento\Sales\Model\Order\Email\SenderBuilder"-->
                <!--type="Vnecoms\PdfPro\Model\SenderBuilder"/>-->

    <!--<preference for="\Magento\Sales\Model\Order\Email\Sender\OrderSender"-->
                <!--type="Vnecoms\PdfPro\Model\Email\Sender\OrderSender"/>-->

    <!--<preference for="\Magento\Sales\Model\Order\Email\Sender\InvoiceSender"-->
                <!--type="Vnecoms\PdfPro\Model\Email\Sender\InvoiceSender"/>-->

    <!--<preference for="\Magento\Sales\Model\Order\Email\Sender\ShipmentSender"-->
                <!--type="Vnecoms\PdfPro\Model\Email\Sender\ShipmentSender"/>-->

    <!--<preference for="\Magento\Sales\Model\Order\Email\Sender\CreditmemoSender"-->
                <!--type="Vnecoms\PdfPro\Model\Email\Sender\CreditmemoSender"/>-->

    <preference for="Vnecoms\PdfPro\Model\Api\AttachmentContainerInterface"
                type="Vnecoms\PdfPro\Model\AttachmentContainer"/>

    <!--<preference for="VnEcoms\PdfPro\Model\Api\AttachmentInterface"-->
    <!--type="VnEcoms\PdfPro\Model\Attachment"/>-->

    <preference for="Vnecoms\PdfPro\Model\Api\PdfRendererInterface"
                type="Vnecoms\PdfPro\Model\PdfRenderer"/>

    <type name="\Vnecoms\PdfPro\Observer\AbstractSendOrderObserver" shared="false">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object" shared="false">\Vnecoms\PdfPro\Model\PdfRenderer</argument>
        </arguments>
    </type>

    <virtualType name="pdfpro_invoice_pdf_renderer" type="\Vnecoms\PdfPro\Model\PdfRenderer"/>
    <type name="\Vnecoms\PdfPro\Model\Observer\AbstractSendInvoiceObserver" shared="false">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object" shared="false">pdfpro_invoice_pdf_renderer</argument>
        </arguments>
    </type>

    <virtualType name="pdfpro_shipment_pdf_renderer" type="\Vnecoms\PdfPro\Model\PdfRenderer"/>
    <type name="\Vnecoms\PdfPro\Model\Observer\AbstractSendShipmentObserver" shared="false">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object" shared="false">pdfpro_shipment_pdf_renderer</argument>
        </arguments>
    </type>

    <virtualType name="pdfpro_creditmemo_pdf_renderer" type="\Vnecoms\PdfPro\Model\PdfRenderer"/>
    <type name="\Vnecoms\PdfPro\Model\Observer\AbstractSendCreditmemoObserver" shared="false">
        <arguments>
            <argument name="pdfRenderer" xsi:type="object" shared="false">pdfpro_creditmemo_pdf_renderer</argument>
        </arguments>
    </type>


    <!--<preference for="Magento\Ui\Component\Wysiwyg\ConfigInterface"-->
                <!--type="Vnecoms\PdfPro\Component\Template\Form\Element\Wysiwyg\Config"/>-->

    <!-- ++++++++++++++++++++++++++++++++++ API ++++++++++++++++++++++++++++++ -->
    <preference for="Vnecoms\PdfPro\Api\PrintInterface" type="Vnecoms\PdfPro\Model\PrintApi"/>

	<type name="Vnecoms\PageBuilder\Ui\Component\Form\Element\PageBuilder">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="pdfpro_modifier" xsi:type="array">
                	<item name="class" xsi:type="string">Vnecoms\PdfPro\Model\Modifier\Pdf</item>
                	<item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
