.gift-voucher-checkout {
    font-weight: 400;
    .gift-voucher-area {
        display: flex;
        justify-content: space-between;
        #checkout_voucher_field {
            width: 59%;
            height: 48px;
            border: none;
            border-radius: 0px;
            padding: 3px 16px 0px 16px;
            background-color: #F2F2F2;
            font-size: 14px;
            font-family: "Gotham Book";
        }
        #submit-voucher, #remove-voucher {
            width: 39%;
            margin-top: 0px;
            min-width: 106px;
            height: 48px;
            font-family: 'Gotham Book';
            text-transform: uppercase;
            font-size: 16px;
            padding-top: 14px;
            background-color: #101820;
            color: #FFF
        }
    }
    .gift-select {
        .gift-select-label {
            font-size: 14px;
            line-height: 14px;
            font-family: "Gotham Book";
            color: #101820;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .selectSavedGiftcard {
            display: inline-grid;
            grid-auto-flow: column;
            grid-template-areas: 'before input after';
            grid-template-columns: auto 1fr auto;
            height: 2.25rem;
            margin-bottom: 30px;
            width: 100%;
            
            .selectSavedGiftcardInput {
                align-items: center;
                display: flex;
                grid-column: before-start / after-end;
                grid-row: input-start / input-end;
            }
            .selectSavedGiftcardAfter{
                grid-area: after;
                align-items: center;
                display: flex;
                justify-content: center;
                pointer-events: none;
                width: 2.25rem;
            }
            select[name="selected_giftcard_field"]{
                padding: 17px 16px;
                border: unset;
                display: inline-flex;
                flex: 0 0 100%;
                margin: 0;
                width: 100%;
                -webkit-appearance: none;
                border-radius: 0px;
            }
        }
    }

    @media (max-width: 1023px) {
        .gift-voucher-area {
            #submit-voucher, #remove-voucher {
                width: 41%;
            }
            #checkout_voucher_field {
                background-color: #E9E9E9;
            }
        }

        .gift-select {
            .gift-select-label {
                margin-top: 16px;
                margin-bottom: 12px;
                font-size: 14px;
            }

            .selectSavedGiftcardInput {
                select[name="selected_giftcard_field"]{
                    background-color: #E9E9E9;
                    padding: 14px 16px;
                }
            }
        }
    }
}