.hidden {
    opacity: 0;
    transform: translate3d(0, -2rem, 0);
    transition-duration: 192ms;
    transition-timing-function: var(--venia-anim-out);
    visibility: hidden;
}

.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-anim-in);
    visibility: visible;
}

.root {
    background-color: white;
    /* border: 1px solid rgb(var(--venia-border));
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
    display: grid;
    font-size: 12px;
    gap: 0.75rem;
    top: 54px;
    left: 0;
    padding: 18px 20px;
    position: absolute;
    right: 0;
    transition-property: opacity, transform, visibility;
    z-index: 2;
    color: #101820;
    min-width: 302px;
    margin-top: 20px;
}

.root_hidden {
    composes: root hidden;
}

.root_visible {
    composes: root visible;
}

.message {
    color: #101820;
    padding-right: 18px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    min-height: 16px;
    position: relative;
}

.message:empty {
    padding: 0;
}

.suggestions {
    display: grid;
    gap: 0px;
    margin-top: 0px;
}

.suggestions:empty {
    display: none;
}
.close-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    right: -2px;
    top: -5px;
}