<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Simi. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Simi_Simiconnector::simiconnector" title="Simicart" module="Simi_Simiconnector"  sortOrder="20" dependsOnModule="Simi_Simiconnector" resource="Simi_Simiconnector::general"/>
        
        <!-- connector setting -->
        <add id="Simi_Simiconnector::simiconnector_settings" title="Simiconnector Settings" module="Simi_Simiconnector" sortOrder="99" parent="Simi_Simiconnector::simiconnector" resource="Simi_Simiconnector::simiconnector_settings"/>
        <add id="Simi_Simiconnector::app_transactions" title="App Transactions" module="Simi_Simiconnector" sortOrder="10" parent="Simi_Simiconnector::simiconnector_settings" action="simiconnector/transactions/" resource="Simi_Simiconnector::manage"/>
        <add id="Simi_Simiconnector::settings" title="General Settings" module="Simi_Simiconnector" sortOrder="40" parent="Simi_Simiconnector::simiconnector_settings" resource="Simi_Simiconnector::configuration" action="adminhtml/system_config/edit/section/simiconnector"/>
        
        <!-- notification -->
        <add id="Simi_Simiconnector::notification" title="Native App Notifications" module="Simi_Simiconnector" sortOrder="199" parent="Simi_Simiconnector::simiconnector" resource="Simi_Simiconnector::notification"/>
        <add id="Simi_Simiconnector::history" title="History" module="Simi_Simiconnector" sortOrder="30" parent="Simi_Simiconnector::notification" action="simiconnector/history/" resource="Simi_Simiconnector::manage"/>
        <add id="Simi_Simiconnector::device" title="View Devices" module="Simi_Simiconnector" sortOrder="20" parent="Simi_Simiconnector::notification" action="simiconnector/device/" resource="Simi_Simiconnector::manage"/>
        <add id="Simi_Simiconnector::notice" title="Manage Notifications" module="Simi_Simiconnector" sortOrder="10" parent="Simi_Simiconnector::notification" action="simiconnector/siminotification/" resource="Simi_Simiconnector::manage"/>
        <add id="Simi_Simiconnector::noticesettings" title="Notification Settings" module="Simi_Simiconnector" sortOrder="99" parent="Simi_Simiconnector::notification" action="adminhtml/system_config/edit/section/simi_notifications" resource="Simi_Simiconnector::manage"/>
        
        
        <!-- theme -->
        <add id="Simi_Simiconnector::themes" title="Themes" module="Simi_Simiconnector" sortOrder="299" parent="Simi_Simiconnector::simiconnector" resource="Simi_Simiconnector::themes"/>
        <add id="Simi_Simiconnector::banner" title="Banners" module="Simi_Simiconnector" sortOrder="10" parent="Simi_Simiconnector::themes" action="simiconnector/banner/" resource="Simi_Simiconnector::manage"/>        
        <add id="Simi_Simiconnector::simicategory" title="Home Category" module="Simi_Simiconnector" sortOrder="20" parent="Simi_Simiconnector::themes" action="simiconnector/simicategory/" resource="Simi_Simiconnector::manage"/>
        <add id="Simi_Simiconnector::productlist" title="Product Lists" module="Simi_Simiconnector" sortOrder="30" parent="Simi_Simiconnector::themes" action="simiconnector/productlist/" resource="Simi_Simiconnector::manage"/>
        <add id="Simi_Simiconnector::cms" title="Cms Pages" module="Simi_Simiconnector" sortOrder="40" parent="Simi_Simiconnector::themes" action="simiconnector/cms/" resource="Simi_Simiconnector::manage"/>
        
        <!-- payment -->
        <add id="Simi_Simiconnector::payment" title="Payment" module="Simi_Simiconnector" sortOrder="399" parent="Simi_Simiconnector::simiconnector" resource="Simi_Simiconnector::payment"/>
        <add id="Simi_Simiconnector::paymentsettings" title="Settings" module="Simi_Simiconnector" sortOrder="1" parent="Simi_Simiconnector::payment" resource="Simi_Simiconnector::configuration" action="adminhtml/system_config/edit/section/payment"/>
        
        <!-- rich content -->
        <add id="Simi_Simiconnector::richcontent" title="Rich Content" module="Simi_Simiconnector" sortOrder="499" parent="Simi_Simiconnector::simiconnector" resource="Simi_Simiconnector::richcontent"/>
        <add id="Simi_Simiconnector::simivideo" title="Videos" module="Simi_Simiconnector" sortOrder="10" parent="Simi_Simiconnector::richcontent" action="simiconnector/simivideo/" resource="Simi_Simiconnector::manage"/>
        <add id="Simi_Simiconnector::simiproductlabel" title="Product Labels" module="Simi_Simiconnector" sortOrder="20" parent="Simi_Simiconnector::richcontent" action="simiconnector/simiproductlabel/" resource="Simi_Simiconnector::manage"/>
        
        <!-- user experience -->
        <add id="Simi_Simiconnector::userexperience" title="User Experience" module="Simi_Simiconnector" sortOrder="599" parent="Simi_Simiconnector::simiconnector" resource="Simi_Simiconnector::userexperience"/>
        <add id="Simi_Simiconnector::simibarcode" title="Manage QR and Barcodes" module="Simi_Simiconnector" sortOrder="10" parent="Simi_Simiconnector::userexperience" action="simiconnector/simibarcode/" resource="Simi_Simiconnector::manage"/>

    </menu>
</config>
