<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <simiconnector>
            <general>                                               
                <enable>1</enable>
                <is_show_price_zero>0</is_show_price_zero>
                <is_show_all_product>1</is_show_all_product>
                <cms_shipping_condition></cms_shipping_condition>
                <is_show_sample_data>1</is_show_sample_data>
                <show_product_type>1</show_product_type>
                <base_url></base_url>
                <is_show_home_title>1</is_show_home_title>
                <image_aspect_ratio>1</image_aspect_ratio>
                <is_rtl>0</is_rtl>
                <open_url_in_app>1</open_url_in_app>
                <filter_categories_by_include_in_menu>1</filter_categories_by_include_in_menu>
                <show_discount_label_in_product>1</show_discount_label_in_product>
            </general>
            <currency>                                           
                <thousand_separator>,</thousand_separator>
                <decimal_separator>.</decimal_separator>
                <min_number_of_decimals>0</min_number_of_decimals>
                <max_number_of_decimals>2</max_number_of_decimals>			
            </currency> 
            <notification>
                <android_app_key></android_app_key>
                <android_secret_key></android_secret_key>
                <noti_price_enable>0</noti_price_enable>
                <new_product_enable>0</new_product_enable>
                <noti_purchase_enable>0</noti_purchase_enable>
            </notification> 
            <hideaddress>
                <hideaddress_enable>0</hideaddress_enable>
                <firstname>2</firstname>
                <lastname>2</lastname>
                <email>2</email>
                <company>2</company>
                <street>2</street>
                <country_id>2</country_id>
                <region_id>2</region_id>
                <city>2</city>
                <zipcode>2</zipcode>
                <telephone>2</telephone>
                <fax>2</fax>
                <prefix>2</prefix>
                <suffix>2</suffix>
                <dob>2</dob>
                <gender>2</gender>
                <taxvat>2</taxvat>
            </hideaddress>  
            <terms_conditions>
                <enable_terms>0</enable_terms>
            </terms_conditions>  
            <instant_contact>
                <enable>0</enable>
                <email>sales@simicart.com</email>
                <phone>84 - 04 - 3217 - 1357 (GMT+7)</phone>
                <message>84 - 04 - 3217 - 1357 (GMT+7)</message>
                <icon_color>FF9900</icon_color>
            </instant_contact>
            <barcode>
                <pattern>BAR[A.4][AN.6]</pattern>
                <qrcode_pattern>QR[A.4][AN.6]</qrcode_pattern>                
            </barcode> 
            <productlabel>
                <enable>0</enable>
            </productlabel> 
            <config_price>
                <price_one_row>0</price_one_row>
                <is_show_price_for_guest>1</is_show_price_for_guest>
            </config_price>
            <methods_support>
                <put>1</put>
                <delete>1</delete>
            </methods_support>
        </simiconnector>  
        <simi_notifications>
            <notification>
                <android_app_key></android_app_key>
                <android_secret_key></android_secret_key>
            </notification>
            <notice_price>
                <noti_price_enable>0</noti_price_enable>
            </notice_price> 
            <noti_new_product>
                <new_product_enable>0</new_product_enable>
            </noti_new_product>
            <noti_purchase>
                <noti_purchase_enable>0</noti_purchase_enable>
            </noti_purchase>
        </simi_notifications>
    </default>
</config>
