<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    	<tab id="vnecoms" translate="label" sortOrder="101">
            <label>VNECOMS</label>
        </tab>
        <section id="vendors" translate="label" type="text" sortOrder="1001" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Marketplace</label>
            <tab>vnecoms</tab>
            <resource>Vnecoms_Vendors::configuration</resource>
            <group id="general" translate="label tooltip" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            	<label>General</label>
				<field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="design" translate="label tooltip" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Seller Panel</label>
				<field id="panel_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Seller Panel Type</label>
                    <source_model>Vnecoms\Vendors\Model\Source\PanelType</source_model>
                </field>
                <field id="skin" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Skin</label>
                    <source_model>Vnecoms\Vendors\Model\Source\Skin</source_model>
                    <comment><![CDATA[<span class="panel-skin skin-blue">Blue</span><span class="panel-skin skin-black">Black</span>]]></comment>
                </field>
				<field id="head_favicon" translate="label" type="image" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
	            	<label>Favicon Icon</label>
	            	<comment>Allowed file types: ICO, PNG, GIF, JPG, JPEG, APNG, SVG. Not all browsers support all these formats!</comment>
	            	<backend_model>Magento\Config\Model\Config\Backend\Image\Favicon</backend_model>
                    <base_url type="media" scope_info="1">favicon</base_url>
	            	<tooltip></tooltip>
	            	<depends>
                        <field id="panel_type">1</field>
                    </depends>
	        	</field>
	        	
				<field id="head_default_title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
	            	<label>Default Title</label>
	            	<tooltip>This default title will be used for all seller panel page.</tooltip>
	            	<depends>
                        <field id="panel_type">1</field>
                    </depends>
	        	</field>
	        	
	        	<field id="logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
	            	<label>Logo</label>
	            	<comment>Allowed file types: PNG, GIF, JPG, JPEG</comment>
	            	<backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
	            	<upload_dir config="system/filesystem/media" scope_info="1">ves_vendors/logo</upload_dir>
                    <base_url type="media" scope_info="1">ves_vendors/logo</base_url>
                    <depends>
                        <field id="panel_type">1</field>
                    </depends>
	        	</field>
	        	<field id="logo_icon" translate="label" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
	            	<label>Logo Icon</label>
	            	<comment>Allowed file types: PNG, GIF, JPG, JPEG</comment>
	            	<backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
	            	<upload_dir config="system/filesystem/media" scope_info="1">ves_vendors/logo_icon</upload_dir>
                    <base_url type="media" scope_info="1">ves_vendors/logo_icon</base_url>
                    <depends>
                        <field id="panel_type">1</field>
                    </depends>
	        	</field>
	        	<field id="footer_text" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Footer Text</label>
                </field>
			</group>
			<group id="profile" translate="label tooltip" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Seller Profile Block</label>
				<comment>This profile block is displayed on product page or vendor pages.</comment>
				<field id="show_short_description" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show seller's short description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="description_size" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Short description max length</label>
                    <frontend_class>required-entry validate-number</frontend_class>
                    <depends>
                        <field id="show_short_description">1</field>
                    </depends>
                </field>
				<field id="show_phone" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show seller's phone number</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_operation_time" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show store hours of operation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="address_template" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
	            	<label>Address Template</label>
	            	<tooltip><![CDATA[Available Variables:<ul style="list-style: inside none disc;">
	            	<li>{{var street}}</li>
	            	<li>{{var city}}</li>
	            	<li>{{var country}}</li>
	            	<li>{{var region}}</li>
	            	<li>{{var postcode}}</li>	            	
	            	</ul>]]></tooltip>
	        	</field>
	        	
			</group>
			<group id="create_account" translate="label tooltip" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Create New Account Options</label>
				<field id="vendor_register" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Seller Register</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="vendor_register_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Login/Register Type</label>
                    <source_model>Vnecoms\Vendors\Model\Source\RegisterType</source_model>
                    <depends>
                        <field id="vendor_register">1</field>
                    </depends>
                </field>
                <field id="vendor_register_static_block" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top Static Block</label>
                    <source_model>Vnecoms\Vendors\Model\Source\Block</source_model>
                    <depends>
                    	<field id="vendor_register">1</field>
                        <field id="vendor_register_type">1</field>
                    </depends>
                    <tooltip>This static block will be displayed in the top of seller registration page.</tooltip>
                </field>
                <field id="enable_agreement" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Registration Agreement</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     <depends>
                        <field id="vendor_register">1</field>
                    </depends>
                </field>
                <field id="agreement_label" translate="label" type="editor" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Agreement Label</label>
                    <frontend_model>Vnecoms\Vendors\Block\System\Config\Form\Field\Editor</frontend_model>
                    <depends>
                    	<field id="vendor_register">1</field>
                        <field id="enable_agreement">1</field>
                    </depends>
                </field>

                <field id="vendor_approval" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Seller Approval</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[If this option is set to yet, all new seller account will need to be approved by admin before vendor can use it.]]></tooltip>
                </field>
                <field id="default_group" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Seller Group</label>
                    <source_model>Vnecoms\Vendors\Model\Source\Group</source_model>
                    <tooltip><![CDATA[After seller register his account will be assigned to this default group.]]></tooltip>
                </field>
                <!--
                <field id="send_approved" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Mail When Vendor Is Approved</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                -->
                <field id="email_template_approved" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Approve Email</label>
                    <source_model>Vnecoms\Vendors\Model\Config\Source\Email\Template</source_model>
                    <tooltip><![CDATA[This welcome email will be sent to vendor when he approved.]]></tooltip>
                </field>

                <field id="email_template" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Welcome Email</label>
                    <source_model>Vnecoms\Vendors\Model\Config\Source\Email\Template</source_model>
                    <tooltip><![CDATA[This welcome email will be sent to vendor when he register.]]></tooltip>
                </field>

                <field id="email_identity" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
            </group>
			
            <group id="url" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Vendor Panel Base URL</label>
                <field id="use_custom" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Custom Vendor URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Vendor URL</label>
                    <depends>
                        <field id="use_custom">1</field>
                    </depends>
                    <comment>Make sure that base URL ends with '/' (slash), e.g. http://seller.yourdomain.com/</comment>
                </field>
                <field id="use_custom_path" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Custom Vendor Path</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Vnecoms\Vendors\Model\Config\Backend\Admin\Custompath</backend_model>
                </field>
                <field id="custom_path" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Vendor Path</label>
                    <validate>validate-alphanum</validate>
                    <backend_model>Vnecoms\Vendors\Model\Config\Backend\Admin\Custompath</backend_model>
                    <depends>
                        <field id="use_custom_path">1</field>
                    </depends>
                    <tooltip><![CDATA[With this option you can change the path of the vendor dashboard page from the default:<br/>http://www.website.com/vendors<br />to<br />http://www.website.com/custom_path]]></tooltip>
                </field>
            </group>

            <group id="admin_notification" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Admin Notification</label>

                <field id="email_to" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email To</label>
                    <validate>validate-email</validate>
                    <tooltip><![CDATA[This welcome email will be sent to vendor when he approved.]]></tooltip>
                </field>

                <field id="email_template_approved" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Approve Vendor  Email</label>
                    <source_model>Vnecoms\Vendors\Model\Config\Source\Email\Template</source_model>
                    <tooltip><![CDATA[This welcome email will be sent to vendor when he approved.]]></tooltip>
                </field>

                <field id="email_template_pending" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pending Vendor Email</label>
                    <source_model>Vnecoms\Vendors\Model\Config\Source\Email\Template</source_model>
                    <tooltip><![CDATA[This welcome email will be sent to vendor when he register.]]></tooltip>
                </field>
            </group>

        </section>
    </system>
</config>
