$borderColor: #808080;
$titleColor: #101820;
$borderMobileColor: #A7A7A7;


.siminia-product-grid-item {

    cursor: pointer;
    margin: 0px 10px;
    position: relative;
    height: 100%;
    margin: 0;

    /*
    Grid item
    */
    
    .product-name{
        width: 100%;
        color: $titleColor;
        font-family: "Gotham Book";
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        height: 28px;
    }
    .vendor-and-price{
        margin-top: 12px;
    }

    @media (min-width: 1440px) {
        min-height: 488px;
    }
    @media (min-width: 1024px) {
        
    }

    @media (max-width: 1024px) {
        
    }

    /*
    Image
    */

    .siminia-product-image {
        width: 100%;
        min-height: 348px;
        padding-top: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        img {
            height: 100%;
            width: 100%;
            -o-object-fit: contain;
            vertical-align: top;
            object-fit: contain;
            border: solid 1px #eeeeee;
        }
    }

    @media(min-width: 1440px){
        .siminia-product-image{
            padding-top: unset;
            padding-bottom: unset;
            min-height: 348px;
        }
    }

    // @media(min-width: 1920px) {
    //     .siminia-product-image{
    //         min-height: 448px;
    //     }
    // }

    /* rtl */
    // .prices-layout-rtl{
    //     text-align: right;
    // }

    /* Prices */
     .prices-layout {
        font-size: 14px;
        line-height: 24px;
        height: fit-content;
        // display: inline-block;
        .product-prices {
            font-family: "Gotham";
            font-size: 14px;
            line-height: 14px;
            text-align: start;
            display: flex;
            .label {
                display: none;
            }
            .regular {
                display: inline-block;
                font-weight: 600;
            }
            .special {
                margin-inline-start: 10px;
                display: inline-block;
                .sale_off {
                    display: none;
                }
                .old {
                    color: #727272;
                    text-decoration: line-through;
                    font-size: 14px;
                    font-weight: 500;
                    float: left;
                }
            }
        }
    }

    /* deposit text */
    .item-deposit {
        font-size: 14px;
        font-family: 'Gotham Book';
        line-height: 14px;
        margin-top: 12px;
    }
    .siminia-product-des {
        padding: 16px 24px;
        text-align: left;
        overflow: hidden;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        margin-top: 0px;
        .product-des-info {
            min-height: 111px;
        }
        .cart-wishlish-compare {
            margin-top: 16px;
            display: flex;

            .add-to-cart-btn{
                max-width: 70%;
                padding-top: 12px;
                color: #FFF;
                font-family: "Gotham Book";
                font-size: 12px;
                letter-spacing: 0.09px;
                line-height: 12px;
                text-align: center;
                text-transform: uppercase;
                margin-inline-end: 13px;
            }
            .wishlistAction{
                margin: auto 12px;
                cursor: pointer;

                .add-to-wishlist-btn{
                    font-family: Linearicons;
                    font-size: 16px;
                    speak: none;
                    font-style: normal;
                    font-weight: 500;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 16px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    border: none;
                    color: $titleColor;
                }
                .added-item {
                    color: #B91C1C;
                }
            }
        }
        .compareAction{
            margin: auto 0px auto 12px;
            cursor: pointer;
            .add-to-compare-btn{
                font-family: Linearicons;
                font-size: 16px;
                speak: none;
                font-style: normal;
                font-weight: 500;
                font-variant: normal;
                text-transform: none;
                line-height: 16px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                border: none;
                color: $titleColor;
            }
        }
        .product-name.small {
            text-overflow: ellipsis;
            overflow: hidden;
            color: $titleColor;
            font-family: "Gotham Book";
            font-size: 14px;
            line-height: 14px;
            text-align: start;
            margin-bottom: 12px;
        }

        .special-price .sale_off {
            display: block;
        }
        .special-price-label {
            margin-inline-start: 8px !important;
        }
        .incl-tax-label {
            margin-inline-start: 8px;
        }
        .product-short-description {
            display: inline-block;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .vendor-and-price .vendor {
            color: $titleColor;
            font-family: "Gotham Book";
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            margin-top: 12px;
            text-align: start;
            a{
                text-decoration: none;
                &:visited,&:hover,&:focus{
                    color: unset;
                }
            }
        }
    }
    
    @media(min-width: 1024px){
        .siminia-product-des .cart-wishlish-compare .add-to-cart-btn{
            width: 145px;
            height: 36px;
        }
    }

    @media(min-width: 1440px){
        .siminia-product-des{
            min-height: 140px;
        }
        .siminia-product-des .cart-wishlish-compare .add-to-cart-btn{
            width: 145px;
            height: 36px;
        }
    }

    @media(min-width: 1919px){
        .siminia-product-des .cart-wishlish-compare .add-to-cart-btn{
            width: 215px;
        }
    }

    /* Button quick view */
    .siminia-product-image .quick-view {
        width: 100%;
        height: 44px;
        background-color: $titleColor;
        display: none;
        z-index: 2;
        position: absolute;
        bottom: 0;
    }

    .siminia-product-image .quick-view .btn-quick-view{
        color: #FFF;
        text-transform: uppercase;
        font-family: "Gotham Book";
        font-size: 16px;
        line-height: 16px;
        padding-top: 14px;
    }

    /*
    phone
    */
   @media (max-width: 1023px) {
        .grid-item-image {
            .siminia-product-image {
                width: 100%;
                min-height: 208px;
                img {
                    border: solid 1px $borderMobileColor;
                    border-bottom: none;
                }
            }
        }
        
        .wishlistAction{
            position: absolute;
            bottom: 10px;
            left: 12px;
        }

        .compareAction{
            position: absolute;
            bottom: 10px;
            right: 12px;
        }
        .siminia-product-des {
            border: 1px solid $borderMobileColor;
            border-top: none;
            .cart-wishlish-compare {
                margin-top: 10px;
            }
            .cart-wishlish-compare .add-to-cart-btn {
                margin-right: 0px;
                width: 100%;
                max-width: 100%;
                height: 28px;
                font-size: 12px;
                font-family: 'Gotham';
                padding-top: 8px;
                font-weight: 500;
            }

            .product-name.small {
                font-size: 14px;
            }
            .old {
                font-size: 10px;
            }
            .vendor-and-price {
                margin-top: 15px;

                .siminia-product-grid-item .prices-layout {
                    line-height: 14px;
                }
                .product-prices{
                    font-family: "Gotham Book";
                    font-size: 14px;
                    line-height: 14px;
                    display: block;
                    .special {
                        display: block;
                        margin-left: 0px;
                        margin-top: 8px;
                        font-size: 12px;
                        line-height: 12px;
                    }
                    .old {
                        font-size: 12px;
                    }
                } 
                .item-deposit {
                    margin-top: 12px;
                    font-size: 12px;
                }
                .vendor {
                    font-size: 14px;
                    line-height: 14px;
                    padding-top: 1px;
                    margin-top: 10px;
                }
            }
            .product-des-info {
                min-height: unset;
            }
        }
        

        .add-to-compare-btn::before, .add-to-wishlist-btn::before {
            font-size: 16px;
        }
    }

}

.product-horizotal .siminia-product-grid-item .siminia-product-des {
    margin: 16px auto 0 auto;
}

.product-horizotal .siminia-product-grid-item .siminia-product-des{
    display: flex;
    justify-content: space-between;
}

.rtl-root{

}